<div class="container mx-auto flex flex-wrap my-6 justify-center items-center pt-6">
    <ul class="flex items-center justify-center">
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-10 flex items-center justify-center"
            include-component="/assets/icons/chevrons-left.svg"></li>
        <div class="rounded-lg border-2 border-primary m-1">
            <li class="m-1 rounded-lg bg-primary h-10 w-10 text-white flex items-center justify-center cursor-pointer">1</li>
        </div>
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-10 flex items-center justify-center">2</li>
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-10 flex items-center justify-center">4</li>
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-10 flex items-center justify-center">...</li>
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-22 flex items-center justify-center"> 2,000</li>
        <li class="p-1 mr-3 rounded-lg cursor-pointer bg-[#fff] h-10 w-10 flex items-center justify-center"
            include-component="/assets/icons/chevrons-right.svg"></li>
    </ul>
</div>