<div class="flex flex-col max-w-sm sm:mx-auto border border-solid font-primary">
  <div class="flex flex-row items-center px-4 pt-5 my-2">
    <h1
      class="flex-auto text-2xl py-2 font-normal text-slate-900 text-primary font-bold"
    >
      Nairaland Forum
    </h1>
    <div class="flex flex-row items-center grow justify-around">
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-primary"
        src="/assets/images/avatar.svg"
        alt=""
      />
      <button
        class="flex-none flex items-center justify-center w-10 h-10 rounded-full text-slate-300"
        type="button"
        aria-label="More"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.6667 16H9"
            stroke="black"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M28 8H4"
            stroke="black"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M28 24H4"
            stroke="black"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <nav class="flex flex-row items-center bg-primary px-4">
    <ul class="flex flex-row min-h-fit space-x-5 py-4">
      <li>
        <a
          href="#"
          class="border-b-4 font-semibold py-4 text-white hover:border-b-2 hover:font-semibold"
          >Trending</a
        >
      </li>
      <li>
        <a href="#" class="text-white py-4 hover:border-b-2 hover:font-semibold"
          >Recent</a
        >
      </li>
      <li>
        <a href="#" class="text-white py-4 hover:border-b-2 hover:font-semibold"
          >New</a
        >
      </li>
    </ul>
    <span class="grow"></span>
    <div class="flex flex-row border-l border-slate-300">
      <button
        class="flex-none flex items-center justify-center w-10 h-10 rounded-full text-slate-300"
        type="button"
        aria-label="More"
      >
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.7824 0.666992C13.2574 0.666992 16.8974 4.30699 16.8974 8.78199C16.8974 10.8933 16.0872 12.8189 14.7613 14.2641L17.3702 16.8676C17.6144 17.1117 17.6152 17.5067 17.3711 17.7509C17.2494 17.8742 17.0886 17.9351 16.9286 17.9351C16.7694 17.9351 16.6094 17.8742 16.4869 17.7526L13.8464 15.1195C12.4575 16.2319 10.6963 16.8978 8.7824 16.8978C4.3074 16.8978 0.666565 13.257 0.666565 8.78199C0.666565 4.30699 4.3074 0.666992 8.7824 0.666992ZM8.7824 1.91699C4.99656 1.91699 1.91656 4.99616 1.91656 8.78199C1.91656 12.5678 4.99656 15.6478 8.7824 15.6478C12.5674 15.6478 15.6474 12.5678 15.6474 8.78199C15.6474 4.99616 12.5674 1.91699 8.7824 1.91699Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </nav>
</div>
