<div class="flex flex-col justify-evenly mx-3 md:w-3/4 sm:mx-auto my-2 border border-solid rounded-xl">
    <div class="flex flex-row px-5 py-3">
        <div class="flex flex-row justify-center">
            <div class="w-20 h-20 rounded-full mr-3 bg-[#C4C4C4] border-none"></div>
            <div class="flex flex-col justify-center">
                <p class="font-normal text-md">@Eniola</p>
                <p class="pr-2 text-sm text-slate-500">Today - 3:48AM</p>
            </div>
        </div>
        <button class="flex bg-gray-100 items-center justify-center w-10 h-10 rounded-full border border-slate-200 ml-5 ml-auto" type="button">
            <!-- &#8942; -->
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="14" cy="14" r="14" fill="#F5F5F5" />
                <path d="M14.5 14.125C14.8452 14.125 15.125 13.8452 15.125 13.5C15.125 13.1548 14.8452 12.875 14.5 12.875C14.1548 12.875 13.875 13.1548 13.875 13.5C13.875 13.8452 14.1548 14.125 14.5 14.125Z" stroke="#149F75" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M14.5 9.75C14.8452 9.75 15.125 9.47018 15.125 9.125C15.125 8.77982 14.8452 8.5 14.5 8.5C14.1548 8.5 13.875 8.77982 13.875 9.125C13.875 9.47018 14.1548 9.75 14.5 9.75Z" stroke="#149F75" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M14.5 18.5C14.8452 18.5 15.125 18.2202 15.125 17.875C15.125 17.5298 14.8452 17.25 14.5 17.25C14.1548 17.25 13.875 17.5298 13.875 17.875C13.875 18.2202 14.1548 18.5 14.5 18.5Z" stroke="#149F75" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <div class="flex px-5 flex-col justify-center">
        <h1 class="text-2xl">Help Us Beg Atiku To Allow Southern Presidency In 2023, Afegbua Tells Nigerians</h1>
        <div class="flex flex-row my-2 items-center">
            <p class="text-primary font-bold text-sm">Security</p>
            <span class="text-primary px-2">&bull;</span>
            <p class="pr-2 text-sm text-slate-500">Read more...</p>
        </div>
    </div>
    <div class="flex flex-row border-t">
        <div class="flex flex-row items-center gap-1.5 p-3">
            <!-- Likes reaction -->
            <button class="bg-gray-100 p-1.5 lg:p-3 rounded-full"><img class="w-5 lg:w-6" src="/assets/icons/thumbs-up.svg" alt="Thumbs up" /></button>
            <p class="font-semibold">
                433.3k
                <span class="hidden lg:inline text-primary">&bull; </span>
            </p>
            <p class="text-gray-400 hidden lg:inline">Likes</p>
        </div>
        <div class="flex flex-row items-center p-3 gap-1.5">
            <!-- Comments reaction -->
            <button class="bg-gray-100 p-1.5 lg:p-3 rounded-full"><img class="w-4 lg:w-6" src="/assets/icons/message-square.svg" alt="Thumbs up" /></button>
            <p class="font-semibold">
                1280
                <span class="hidden lg:inline text-primary">&bull; </span>
            </p>
            <p class="text-gray-400 hidden lg:inline">Comments</p>
        </div>
        <div class="flex flex-row items-center gap-1.5">
            <!-- Shares reaction -->
            <button class="bg-gray-100 p-2 lg:p-3 rounded-full"><img class="w-4 lg:w-6" src="/assets/icons/share.svg" alt="Thumbs up" /></button>
            <p class="font-semibold">
                13.3k
                <span class="text-primary hidden lg:inline">&bull; </span>
            </p>
            <p class="text-gray-400 hidden lg:inline">Shares</p>
        </div>
        <!-- Views reaction -->
        <div class="flex flex-row items-center p-3 gap-1.5">
            <button class="bg-gray-100 p-1.5 lg:p-3 rounded-full"><img class="w-4 lg:w-6" src="/assets/icons/eye.svg" alt="Thumbs up" /></button>
            <p class="font-semibold">
                13.3k
                <span class="text-primary hidden lg:inline">&bull; </span>
            </p>
            <p class="text-gray-400 hidden lg:inline">Views</p>
        </div>
        <!-- Right/Next green button -->
        <button class="flex bg-gray-100 items-center justify-center mx-5 my-3 w-10 h-10 rounded-full ml-auto hidden lg:inline">
            <img class="w-2 m-auto" src="/assets/icons/greater-than_next.svg" alt="Next/greater than" />
        </button>
    </div>
</div>
