<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Frame 513 </title>

  <!-- DO NOT TOUCH ==== FROM HERE -->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script src="https://cdn.tailwindcss.com/"></script>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
  <!-- DO NOT TOUCH ==== TO HERE -->
</head>

<body>
  <!-- Start your code here -->
  <div include-component="frame-513.html"></div>
  <!-- End your code here -->

  <!-- DO NOT TOUCH ==== FROM HERE -->
  <script src="/assets/js/main.js"></script>
  <!-- DO NOT TOUCH ==== TO HERE -->
</body>

</html>