<div class="border border-dashed w-auto flex justify-center items-center mx-auto rounded-[8px]">
    <div class="mx-[16px] mb-[45px]">
        <div class="flex flex-row space-x-28 lg:space-x-64 mb-[29px] mt-[25px]">
            <div>
                <h1 class="font-[500] text-sm lg:text-[18px]">Who do you think is better?</h1>
            </div>
            <button class="bg-[#D2F9ED] rounded-full w-7 h-7 flex justify-center items-center right-[8px] bottom-[6px]">
                <img src="../../assets/icons/x.svg" alt="" class="h-[15px] w-[15px]" />
            </button>
        </div>
        <div class="flex flex-col space-y-[16px]">
            <div class="flex justify-between items-end relative bg-[#EDFDF8] w-full h-[40px] rounded-[8px]">
                <p class="block text-[#149F75] mx-auto py-2">Christiano Ronaldo - 0%</p>
                <button class="bg-[#D2F9ED] rounded-full w-6 h-6 flex justify-center items-center absolute right-[8px] bottom-[8px]">
                    <img src="../../assets/icons/x.svg" alt="" class="h-[13px] w-[13px]" />
                </button>
            </div>
            <div class="flex justify-between items-end relative bg-[#EDFDF8] w-full h-[40px] rounded-[8px]">
                <p class="block text-[#149F75] mx-auto py-2">Messi - 0%</p>
                <button class="bg-[#D2F9ED] rounded-full w-6 h-6 flex justify-center items-center absolute right-[8px] bottom-[8px]">
                    <img src="../../assets/icons/x.svg" alt="" class="h-[13px] w-[13px]" />
                </button>
            </div>
            <div class="flex justify-between items-end relative bg-[#EDFDF8] w-full h-[40px] rounded-[8px]">
                <p class="block text-[#149F75] mx-auto py-2">Neymar - 0%</p>
                <button class="bg-[#D2F9ED] rounded-full w-6 h-6 flex justify-center items-center absolute right-[8px] bottom-[8px]">
                    <img src="../../assets/icons/x.svg" alt="" class="h-[13px] w-[13px]" />
                </button>
            </div>
        </div>
    </div>
</div>
