<div class="">
  <div class="h-[961px] w-[360px] bg-white rounded-[8px] mx-[20px] mt-[20px]">
    <div class="mx-[20px]">
      <div>
        <p class="text-[20px] pt-[40px]">Oluwaseun’s Stats</p>
      </div>
      <div class="mt-[32px] flex space-x-[16px]">
        <div class="bg-[#EDF7F4] w-[151px] h-[88px] rounded-[8px]">
          <div class="mx-[12px] mt-[23px]">
            <p class="text-[#0B5B43] text-[20px] font-bold">3600</p>
            <p class="text-[#666666] text-[11px]">Total Topics Discussed</p>
          </div>
        </div>
        <div class="bg-[#EDF7F4] w-[151px] h-[88px] rounded-[8px]">
          <div class="mx-[12px] mt-[23px]">
            <p class="text-[#0B5B43] text-[20px] font-bold">33,600</p>
            <p class="text-[#666666] text-[11px]">Total Threads & Replies</p>
          </div>
        </div>
      </div>
      <div class="mt-[32px]">
        <div class="flex flex-col space-y-[28px]">
          <div>
            <div class="flex">
              <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
                <img src="../../assets/icons/clock.svg" alt="" class="w-[22px] h-[22px]">
              </div>
              <div class="ml-[12px]">
                <p class="text-[12px] text-[#595959]">Last Seen</p>
                <p class="text-[15px]">Today - 3:14pm</p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex">
              <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
                <img src="../../assets/icons/clock.svg" alt="" class="w-[22px] h-[22px]">
              </div>
              <div class="ml-[12px]">
                <p class="text-[12px] text-[#595959]">Last Seen</p>
                <p class="text-[15px]">Today - 3:14pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>