<div class="">
  <div class="h-[961px] w-[360px] bg-white rounded-[8px] mx-[20px] mt-[20px]">
    <div class="mx-[20px]">
      <div>
        <p class="text-[20px] pt-[40px]">Oluwaseun’s Stats</p>
      </div>
      <div class="mt-[32px] flex space-x-[16px]">
        <div class="bg-[#EDF7F4] w-[151px] h-[88px] rounded-[8px]">
          <div class="mx-[12px] mt-[23px]">
            <p class="text-[#0B5B43] text-[20px] font-bold">3600</p>
            <p class="text-[#666666] text-[11px]">Total Topics Discussed</p>
          </div>
        </div>
        <div class="bg-[#EDF7F4] w-[151px] h-[88px] rounded-[8px]">
          <div class="mx-[12px] mt-[23px]">
            <p class="text-[#0B5B43] text-[20px] font-bold">33,600</p>
            <p class="text-[#666666] text-[11px]">Total Threads & Replies</p>
          </div>
        </div>
      </div>
      <div class="mt-[32px]">
        <div class="flex flex-col space-y-[28px]">
          <div class="flex">
            <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
              <img src="../../assets/icons/clock.svg" alt="" class="w-[22px] h-[22px]">
            </div>
            <div class="ml-[12px]">
              <p class="text-[12px] text-[#595959]">Last Seen</p>
              <p class="text-[15px]">Today - 3:14pm</p>
            </div>
          </div>
          <div class="flex">
            <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
              <img src="../../assets/icons/map-pin.svg" alt="" class="w-[22px] h-[22px]">
            </div>
            <div class="ml-[12px]">
              <p class="text-[12px] text-[#595959]">Location</p>
              <p class="text-[15px]">Ikeja, Lagos, Nigeria</p>
            </div>
          </div>
          <div class="flex">
            <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
              <img src="../../assets/icons/calendar.svg" alt="" class="w-[22px] h-[22px]">
            </div>
            <div class="ml-[12px]">
              <p class="text-[12px] text-[#595959]">Date registered on Nairaland</p>
              <p class="text-[15px]">Sept. 5, 2008</p>
            </div>
          </div>
          <div class="flex">
            <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
              <img src="../../assets/icons/calendar.svg" alt="" class="w-[22px] h-[22px]">
            </div>
            <div class="ml-[12px]">
              <p class="text-[12px] text-[#595959]">Time Spent Online.</p>
              <p class="text-[15px]">Sept. 5, 2008</p>
            </div>
          </div>
          <div class="flex">
            <div class="w-[44px] h-[44px] bg-[#F5F5F5] flex justify-center items-center rounded-full">
              <img src="../../assets/icons/anchor.svg" alt="" class="w-[22px] h-[22px]">
            </div>
            <div class="ml-[12px]">
              <p class="text-[12px] text-[#595959]">Gender</p>
              <p class="text-[15px]">Male</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-[32px]">
        <p class="text-[14px] text-[#737373]">Signature</p>
        <p class="text-[14px] mt-[7px]">Take things slow and steady man, they don’t rush success neither do they rush greatness.</p>
      </div>
      <div class="mt-[32px]">
        <p class="text-[14px] text-[#737373]">Most Active Forum</p>
        <div class="flex flex-col space-y-[12px]">
          <div class="mt-[12px] flex flex-row space-x-[12px]">
            <div class="w-[113px] h-[38px] bg-[#F7F7F7] rounded-[8px] flex justify-center items-center">
              <img src="../../assets/icons/heart.svg" alt="" class="w-[22px] h-[22px]">
              <p class="text-[16px] ml-[6px]">Romance</p>
            </div>
            <div class="w-[113px] h-[38px] bg-[#F7F7F7] rounded-[8px] flex justify-center items-center">
              <img src="../../assets/icons/briefcase.svg" alt="" class="w-[22px] h-[22px]">
              <p class="text-[16px] ml-[6px]">Games</p>
            </div>
            <div class="w-[67px] h-[38px] bg-[#F7F7F7] rounded-[8px] flex justify-center items-center">
              <p class="text-[16px] ml-[6px] font-[400]">Games</p>
            </div>
          </div>
          <div class="flex flex-row space-x-[12px]">
            <div class="w-[113px] h-[38px] bg-[#F7F7F7] rounded-[8px] flex justify-center items-center">
              <img src="../../assets/icons/radio.svg" alt="" class="w-[22px] h-[22px]">
              <p class="text-[16px] ml-[6px]">Security</p>
            </div>
            <div class="w-[113px] h-[38px] bg-[#F7F7F7] rounded-[8px] flex justify-center items-center">
              <img src="../../assets/icons/radio.svg" alt="" class="w-[22px] h-[22px]">
              <p class="text-[16px] ml-[6px]">Culture</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>