<section>
  <main class="flex flex-col p-8 items-center jusify-center">
    <div class="flex mb-8 gap-6">
      <div class="text-yellow-400 bg-amber-50 rounded-full flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-20" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>

      <h2 class="text-2xl font-bold"><span class="text-primary ">Rules</span> to observe before making a post</h2>
    </div>
    <div>
      <hr>
      <p class="py-4">Please post all threads in the right section and don't derail thread by posting off topic.</p>
      <hr>
      <p class="py-4">Don't abuse, bully, deliberately insult/provoke, fight, or wish harm to Nairaland members OR THEIR
        TRIBES.</p>
      <hr>
      <p class="py-4">Don't threaten, support or DEFEND violent acts against any person, tribe, race, animals, or group
        (e.g. rape).</p>
      <hr>
      <p class="py-4">Discussion of the art of love-making should be restricted to the hidden sexuality section.</p>
      <hr>
      <p class="py-4">Don't post pornographic or disgusting pictures or videos on any section of Nairaland.</p>
      <hr>
      <p class="py-4">Don't say or THREATEN to do anything that is detrimental to the security, success, or reputation
        of Nairaland.</p>
      <hr>
      <p class="py-4">Don't violate the privacy of any people e.g. by posting their private pics, info, or chats without
        permission.</p>
      <hr>
      <p class="py-4">Don't promote shady investments like betting, HYIP, MLM, FOREX, binary options, and
        cryptocurrencies
        on Nairaland.</p>
      <hr>
    </div>
  </main>
  <div class="flex justify-end py-4 mt-10">
    <button
      class="rounded w-60 h-12 mx-2 text-white cursor-pointer hover:scale-105 ease-in-out duration-300 bg-primary">View
      All
      Rules</button>
  </div>
</section>