<section class="pt-12 pb-7">
    <main class="flex flex-col py-8 justify-center w-[90%] sm:max-w-[450px] mx-auto bg-[#fff] rounded-xl font-primary">
        <div class="flex mb-5 gap-3 items-center px-5">
            <div class="text-yellow-400 bg-amber-50 rounded-[50%] flex items-center p-3">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-9 w-9">
                  <path d="M17.6477 33C25.8278 33 32.4591 26.2843 32.4591 18C32.4591 9.71573 25.8278 3 17.6477 3C9.46768 3 2.83643 9.71573 2.83643 18C2.83643 26.2843 9.46768 33 17.6477 33Z" stroke="#FFB300" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17.6477 12V18" stroke="#FFB300" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17.6477 24H17.6627" stroke="#FFB300" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </div>

            <h2 class="text-xl font-bold font-inherit"><span class="text-primary">Rules</span> to observe before making a post</h2>
        </div>

        <div>
            <p class="py-4 border-[0.34px] border-[#D9D9D9] border-x-[0] text-[#595959] px-7 font-medium">Please post all threads in the right section and don't derail thread by posting off topic.</p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't abuse, bully, deliberately insult/provoke, fight, or wish harm to Nairaland members OR THEIR TRIBES.
            </p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't threaten, support or DEFEND violent acts against any person, tribe, race, animals, or group (e.g. rape).</p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Discussion of the art of love-making should be restricted to the hidden sexuality section.</p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't post pornographic or disgusting pictures or videos on any section of Nairaland.</p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't say or THREATEN to do anything that is detrimental to the security, success, or reputation of Nairaland.</p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't violate the privacy of any people e.g. by posting their private pics, info, or chats without permission.
            </p>
            <p class="py-4 border-b-[0.34px] border-[#D9D9D9] text-[#595959] px-7 font-medium">Don't promote shady investments like betting, HYIP, MLM, FOREX, binary options, and cryptocurrencies on Nairaland.</p>
        </div>
        <div class="flex justify-end py-4 mt-10 mr-4">
            <button class="rounded-lg w-60 h-12 mx-2 text-white cursor-pointer hover:scale-105 ease-in-out duration-300 bg-primary">View
              All Rules
            </button>
        </div>
    </main>
</section>