*{
    margin: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #F5F5F5;
}
.whole{
    width: 1440px;
    height: 1500px;
    background-color: white;
    
    margin: 20px auto 20px auto;
}
.nav-bar{
    width: 1440px;
    height: 80px;
    background-color: white;
    border: 0.5px solid grey;;
    box-sizing: initial;
}
.header{
    color: #149F75;
    font-weight: 700;
    font-size: 24px;
    margin: 0px 60px 10px 63px;
    line-height: 70px;
}
input{
    width: 260px;
    height: 30px;
    font-size: 13px;
    margin: 0 56px 0 10px;
    border-radius: 8px;
    border: 0.7px solid #A8ABBD;
}
.trending, .recent, .latest{
    font-size: 15px;
    margin-right: 28px;
}
.latest{
    margin-right: 260px;
}
.join, .sign-in{
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 3px;
    color: #149F75;
    font-weight: 500;
}
.join{
    color: white;
    background-color: #149F75;
}

.picture-background{
    width: 600px;
    height: 600px;
    background-color: #149F75;
    border-radius: 50%;
    margin: 130px auto auto auto;
}
.text{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #149F75;
    margin: 42px 0 27px 0;
}
.smaller-text{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 100px 0;
}
.green-small-text{
    color: #149F75;
}



.bottom-line{
    background-color: #149F75;
    width: 1440px;
    height: 48px;
    color: white;
    font-size: 16px;
    margin: 20px auto;
}
.disclaim{
    font-weight: 700;
    margin-left: 66px;
    padding-top: 14px;
}
.disclaim-details{
    font-weight: 400;
}

.table2{
    margin: auto;
    border-spacing: 90px;
}
.foot{
    vertical-align: top;
    font-size: 15px;
}
.foot-head{
    color: #149F75;
    font-size: 18px;
    font-weight: 500;
}
.foot-detail{
    line-height: 30px;
}
.joining{
  padding: 5px;
  background-color: #149F75;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}
.login{
    color: #149F75;
    font-weight: 500px;
    text-align: center;
    margin-top: 8px;
}
.four{
    width: 1300px;
    height: 0.5px;
    margin: auto;
}
.attribute{
    font-size: 12px;
    margin: 15px 40px 0 66px;
}
.attribute svg{
    vertical-align: middle;
}
.footer-icon{
    margin-left: 770px;
=======
*{
    margin: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #F5F5F5;
}
.whole{
    width: 1440px;
    height: 1159px;
    background-color: white;
    
    margin: 20px auto 20px auto;
}
.nav-bar{
    width: 1440px;
    height: 80px;
    background-color: white;
    border: 0.5px solid grey;;
    box-sizing: initial;
}
.header{
    color: #149F75;
    font-weight: 700;
    font-size: 24px;
    margin: 0px 60px 10px 63px;
    line-height: 70px;
}
input{
    width: 260px;
    height: 30px;
    font-size: 13px;
    margin: 0 56px 0 10px;
    border-radius: 8px;
    border: 0.7px solid #A8ABBD;
}
.trending, .recent, .latest{
    font-size: 15px;
    margin-right: 28px;
}
.latest{
    margin-right: 260px;
}
.join, .sign-in{
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 3px;
    color: #149F75;
    font-weight: 500;
}
.join{
    color: white;
    background-color: #149F75;
}


.picture-background{
    background-color: red;
    width: 600px;
    height: 600px;
    border-radius: 50%;
}


.bottom-line{
    background-color: #149F75;
    width: 1440px;
    height: 48px;
    color: white;
    font-size: 16px;
    margin: 20px auto;
}
.disclaim{
    font-weight: 700;
    margin-left: 66px;
    padding-top: 14px;
}
.disclaim-details{
    font-weight: 400;
}

.table2{
    margin: auto;
    border-spacing: 90px;
}
.foot{
    vertical-align: top;
    font-size: 15px;
}
.foot-head{
    color: #149F75;
    font-size: 18px;
    font-weight: 500;
}
.foot-detail{
    line-height: 30px;
}
.joining{
  padding: 5px;
  background-color: #149F75;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}
.login{
    color: #149F75;
    font-weight: 500px;
    text-align: center;
    margin-top: 8px;
}
.four{
    width: 1300px;
    height: 0.5px;
    margin: auto;
}
.attribute{
    font-size: 12px;
    margin: 15px 40px 0 66px;
}
.attribute svg{
    vertical-align: middle;
}
.footer-icon{
    margin-left: 770px;
