*{
    margin: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: #F5F5F5;
}
.whole{
    width: 1440px;
    height: 1500px;
    background-color: white;
    margin: 20px auto 20px auto;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: -1px 2px 15px lightgrey;
    box-sizing: initial;
}
.header{
    color: #149F75;
    font-weight: 700;
    font-size: 24px;
    margin: 0px 10% 10px 63px;
    line-height: 70px;
}
input{
    width: 260px;
    height: 30px;
    font-size: 13px;
    margin: 0 56px 0 10px;
    border-radius: 8px;
    border: 0.7px solid #A8ABBD;
}
.trending, .recent, .latest{
    font-size: 15px;
    margin-right: 28px;
}
.latest{
    margin-right: 260px;
}
.join, .sign-in{
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 3px;
    color: #149F75;
    font-weight: 500;
}
.join{
    color: white;
    background-color: #149F75;
}

.picture-background{
    width: 600px;
    height: 600px;
    background-color: #149F75;
    border-radius: 50%;
    margin: 130px auto auto auto;
    text-align: center;
}
.text{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #149F75;
    margin: 42px 0 27px 0;
}
.smaller-text{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 100px 0;
}
.green-small-text{
    color: #149F75;
}



.bottom-line{
    background-color: #149F75;
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 16px;
    margin: 20px auto;
    padding-bottom: 8px;
}
.disclaim{
    font-weight: 700;
    margin-left: 66px;
    padding-top: 14px;
}
.disclaim-details{
    font-weight: 400;
}

.table2{
    margin: auto;
    border-spacing: 90px;
}
.foot{
    vertical-align: top;
    font-size: 15px;
}
.foot-head{
    color: #149F75;
    font-size: 18px;
    font-weight: 500;
}
.foot-detail{
    line-height: 30px;
}
.joining{
  padding: 5px;
  background-color: #149F75;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}
.login{
    color: #149F75;
    font-weight: 500px;
    text-align: center;
    margin-top: 8px;
}
.four{
    width: 1300px;
    height: 0.5px;
    margin: auto;
}
.attribute{
    font-size: 12px;
    margin: 15px 40px 0 66px;
}
.attribute svg{
    vertical-align: middle;
}
.footer-icon{
    margin-left: 770px;
}
@media only screen and (min-width:1440px) {
.bottom-phone{
    display: none;
}
.menu-svg{
    display: none;
}
}


@media only screen and (max-width:1435px) {
    .whole{
        background-color: white;
        width: 140vw;
        height: 260vh;
        margin: auto auto auto auto;
    }
    .nav-bar{
        border-bottom: 3px solid #149F75;
        height: 10vh;
    }
    input, .trending, .recent, .latest, .sign-in{
        display: none;
    }
    .picture-background{
        height: fit-content;
        width: fit-content;
        margin: 40px auto;
    }
    .pic{
        width: 350px;
        height: 350px;
    }
    .disclaim-details{
        display: block;
        line-height: 24px;
        margin-right: 10px;
    }
    .table2, .four, .attribute{
        display: none;
    }
    .bottom-phone{
        margin-left: 63px;
    }
    .joining{
        padding: 10px 17px;
        border-radius: 5px;
        margin: 15px 0 25px 0;
        border: none;
        font-size: 16px;
    }
    .sections{
        font-size: 20px;
        color: #149F75;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .section{
        margin-right: 10%;
        text-decoration: none;
        font-size: 18px;
        color: #149F75;
        font-weight: 500;
        margin-bottom: 1.8%;
        /*display: inline-block;*/
    }
    #table-mobile tr td{
        padding-right: 50px;
        padding-bottom: 10px;
        font-size: 16px;
        color: #149F75;
    }
    .ad, .social{
        color: #149F75;
        font-size: 20px;
        margin: 14px 0 7px 0;
        font-weight: 600;
    }
    .foot-detail{
        font-weight: 400;
        margin-bottom: 5px;
    }
    .footer-icon{
        width: 32px;
        height: 32px;
        margin: 5px 0 6px 0;
    }
    .mobile-line{
        width: 88%;
        margin: 15px 10px 30px 0;
        height: 0.3px;
    }
    .green{
        color: #149F75;
        font-weight: 500;
    }
    .menu-svg{
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
    .join{
        margin-right: 20px;
    }
}