*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  font-family: "DM Sans";
}
html {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
.container {
  height: 100vh;
}
.input--recover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 360px;
  height: 50px;
  left: 0px;
  top: 30px;

  border: 0.7px solid #a8abbd;
  border-radius: 8px;
}
.input--recover:focus {
  outline-color: #149f75;
}
.green {
  color: #149f75;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 360px;
  height: 64px;
  left: 540px;
  top: 229px;
  margin-top: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  letter-spacing: -0.03em;

  color: #000000;
}
.labeled {
  margin-top: 10px;
}
.help {
  width: 361px;
  height: 56px;
  left: 539px;
  top: 565px;
  color: white;
  background: #149f75;
  border: 0;
  border-radius: 8px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
}
.form--header {
  text-align: start;

  margin-top: 80px;
}
.nav-bar {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
  justify-content: space-evenly;
  background: #ffffff;
  box-shadow: 0px 8px 40px #f3f7f3;
}
/* edited */
.searchfield {
  position: relative;
  top: 20px;
  right: 80px;

  border-radius: 8px;
}
.header {
  position: absolute;
  width: 184px;
  height: 31px;
  left: 65px;
  top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #149f75;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 275px;
  height: 44px;
  left: 1098px;
  top: 18px;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  list-style: none;
  position: absolute;
  height: 49px;
  left: 621px;
  top: 31px;
}
ul li {
  margin-right: 5px;
}
.sign-in {
  width: 55px;
  height: 21px;
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  letter-spacing: -0.03em;
  color: #149f75;
}
.join {
  color: white;
  background-color: #149f75;
  border-radius: 8px;
  padding: 15px 40px;
  gap: 10px;
}
button {
  border: none;
  cursor: pointer;
}
.search {
  position: absolute;
  left: 85%;
  top: 10.33%;
  bottom: 5.33%;
}
.input {
  padding: 16px;
  gap: 10px;
  width: 260px;
  height: 40px;
  left: 0px;
  top: 0px;
  border: 0.7px solid #a8abbd;
  border-radius: 8px;
}

.bottom-line {
  width: 1440px;
  height: 48px;
  position: absolute;
  top: 80%;
  margin-top: 100px;
  background: #149f75;
}
footer {
  position: absolute;
  width: 1440px;
  height: 289px;
  top: 100%;
  background: #ffffff;
  margin-top: 80px;
}
.disclaim {
  height: 16px;
  left: 66px;
  top: 16px;
  margin-left: 60px;
  margin-top: 15px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.disclaim-details {
  top: 14px;
  margin-left: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.foot-head {
  color: #149f75;
  margin-bottom: 20px;
  height: 23px;
  left: 922px;
  top: 41px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.foot {
  margin-right: 20px;
}
.top-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 77px;
  justify-content: space-evenly;
  margin-bottom: 80px;
  padding: 5px;
}
.login {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  margin-left: 80px;

  color: #149f75;
}
.joining {
  margin-bottom: 40px;
  margin-left: 20px;
}
.foot-detail {
  margin-top: 10px;
}
.bottom-footer {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.bottom-text {
  height: 18px;
  left: 64px;
  top: 231px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #737373;
}
.attribute {
  margin-right: 12%;
}
.grey {
  color: #737373;
}
