<!DOCTYPE html>

<html>
    <head>
        <title>Profile Side Card</title>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>
        <br />
        <div id="whole-space">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="first-panel">
                                <p class="username">Oluwaseun's Stats</p>
                                <div class="box-1">
                                    <p class="total-topics">3,600</p>
                                    <p class="total-name">Total Topics Discussed</p>
                                </div>
                                <div class="box-2">
                                    <p class="total-topics">33,600</p>
                                    <p class="total-name">Total Threads and Replies</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Last Seen</p>
                                    <p class="image-detail-2">Today - 3:14pm</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Location</p>
                                    <p class="image-detail-2">Ikeja, Lagos, Nigeria</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Date Registered on Nairaland</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Time Spent Online</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Gender</p>
                                    <p class="image-detail-2">Male</p>
                                </div>
                                <br />

                                <div class="signature-section">
                                    <p class="sign">Signature</p>
                                    <p class="sign-details">Take things slow and easy man, they don't rush success neither do they rush greatness.</p>
                                </div>

                                <div class="Activity-section">
                                    <p class="activity">Most Active Forums</p>
                                    <div class="active-background">
                                        <svg class="heart" width="19" height="16" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.1036 2.22555C18.6354 1.75714 18.0795 1.38556 17.4677 1.13205C16.8558 0.878532 16.2001 0.748047 15.5378 0.748047C14.8755 0.748047 14.2197 0.878532 13.6079 1.13205C12.996 1.38556 12.4401 1.75714 11.9719 2.22555L11.0003 3.19722L10.0286 2.22555C9.08289 1.27984 7.80022 0.748537 6.46277 0.748537C5.12532 0.748537 3.84266 1.27984 2.89694 2.22555C1.95122 3.17127 1.41992 4.45394 1.41992 5.79139C1.41992 7.12883 1.95122 8.4115 2.89694 9.35722L3.8686 10.3289L11.0003 17.4606L18.1319 10.3289L19.1036 9.35722C19.572 8.88903 19.9436 8.33313 20.1971 7.7213C20.4506 7.10946 20.5811 6.45367 20.5811 5.79139C20.5811 5.12911 20.4506 4.47332 20.1971 3.86148C19.9436 3.24964 19.572 2.69375 19.1036 2.22555V2.22555Z"
                                                stroke="black"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Relationship
                                    </div>

                                    <div class="active-background">
                                        <svg class="business" width="15" height="12" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.333 6.41699H3.66634C2.65382 6.41699 1.83301 7.2378 1.83301 8.25033V17.417C1.83301 18.4295 2.65382 19.2503 3.66634 19.2503H18.333C19.3455 19.2503 20.1663 18.4295 20.1663 17.417V8.25033C20.1663 7.2378 19.3455 6.41699 18.333 6.41699Z"
                                                stroke="black"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path d="M14.6663 19.25V4.58333C14.6663 4.0971 14.4732 3.63079 14.1294 3.28697C13.7856 2.94315 13.3192 2.75 12.833 2.75H9.16634C8.68011 2.75 8.2138 2.94315 7.86998 3.28697C7.52616 3.63079 7.33301 4.0971 7.33301 4.58333V19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        Business
                                    </div>
                                    <div class="active-background">Games</div>
                                    <div class="active-background-2">
                                        <svg class="security" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.0003 12.8337C12.0128 12.8337 12.8337 12.0128 12.8337 11.0003C12.8337 9.9878 12.0128 9.16699 11.0003 9.16699C9.9878 9.16699 9.16699 9.9878 9.16699 11.0003C9.16699 12.0128 9.9878 12.8337 11.0003 12.8337Z" stroke="black" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M5.91918 13.102C6.19596 13.7696 6.60163 14.3762 7.113 14.887L5.91918 13.102ZM5.91918 13.102C5.64239 12.4343 5.49993 11.7186 5.49993 10.9958M5.91918 13.102L5.49993 10.9958M5.49993 10.9958C5.49993 10.273 5.64239 9.5573 5.91918 8.88961C6.19596 8.22192 6.60163 7.61533 7.113 7.10453L6.1624 8.37885L5.49993 10.9958ZM4.51884 17.4812C2.80035 15.7622 1.83496 13.431 1.83496 11.0004C1.83496 8.56969 2.80035 6.23854 4.51884 4.51953M14.8863 7.1137C15.3977 7.6245 15.8034 8.23109 16.0802 8.89878C16.3569 9.56647 16.4994 10.2822 16.4994 11.0049C16.4994 11.7277 16.3569 12.4434 16.0802 13.1111C15.8034 13.7788 15.3977 14.3854 14.8863 14.8962L15.8045 13.102L16.0802 10.9958L15.8045 8.88961L14.8863 7.1137ZM17.4805 4.51953C19.199 6.23854 20.1644 8.56969 20.1644 11.0004C20.1644 13.431 19.199 15.7622 17.4805 17.4812L19.2996 14.887L20.1665 11.0007L19.2498 7.33398L17.4805 4.51953Z"
                                                stroke="black"
                                                stroke-width="0.8"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Security
                                    </div>
                                    <div class="active-background-2">
                                        <svg class="security" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.0003 12.8337C12.0128 12.8337 12.8337 12.0128 12.8337 11.0003C12.8337 9.9878 12.0128 9.16699 11.0003 9.16699C9.9878 9.16699 9.16699 9.9878 9.16699 11.0003C9.16699 12.0128 9.9878 12.8337 11.0003 12.8337Z" stroke="black" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M5.91918 13.102C6.19596 13.7696 6.60163 14.3762 7.113 14.887L5.91918 13.102ZM5.91918 13.102C5.64239 12.4343 5.49993 11.7186 5.49993 10.9958M5.91918 13.102L5.49993 10.9958M5.49993 10.9958C5.49993 10.273 5.64239 9.5573 5.91918 8.88961C6.19596 8.22192 6.60163 7.61533 7.113 7.10453L6.1624 8.37885L5.49993 10.9958ZM4.51884 17.4812C2.80035 15.7622 1.83496 13.431 1.83496 11.0004C1.83496 8.56969 2.80035 6.23854 4.51884 4.51953M14.8863 7.1137C15.3977 7.6245 15.8034 8.23109 16.0802 8.89878C16.3569 9.56647 16.4994 10.2822 16.4994 11.0049C16.4994 11.7277 16.3569 12.4434 16.0802 13.1111C15.8034 13.7788 15.3977 14.3854 14.8863 14.8962L15.8045 13.102L16.0802 10.9958L15.8045 8.88961L14.8863 7.1137ZM17.4805 4.51953C19.199 6.23854 20.1644 8.56969 20.1644 11.0004C20.1644 13.431 19.199 15.7622 17.4805 17.4812L19.2996 14.887L20.1665 11.0007L19.2498 7.33398L17.4805 4.51953Z"
                                                stroke="black"
                                                stroke-width="0.8"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Culture
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="second-panel">
                                <p class="username">Oluwaseun's Stats</p>
                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Last Seen</p>
                                    <p class="image-detail-2">Today - 3:14pm</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Location</p>
                                    <p class="image-detail-2">Ikeja, Lagos, Nigeria</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Date Registered on Nairaland</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Time Spent Online</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Gender</p>
                                    <p class="image-detail-2">Male</p>
                                </div>
                                <br />

                                <div class="signature-section">
                                    <p class="sign">Signature</p>
                                    <p class="sign-details">Take things slow and easy man, they don't rush success neither do they rush greatness.</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="third-panel">
                                <p class="username">My Stats</p>
                                <div class="box-1">
                                    <p class="total-topics">3,600</p>
                                    <p class="total-name">Total Topics Discussed</p>
                                </div>
                                <div class="box-2">
                                    <p class="total-topics">33,600</p>
                                    <p class="total-name">Total Threads and Replies</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Last Seen</p>
                                    <p class="image-detail-2">Today - 3:14pm</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Location</p>
                                    <p class="image-detail-2">Ikeja, Lagos, Nigeria</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Date Registered on Nairaland</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Time Spent Online</p>
                                    <p class="image-detail-2">Sept. 5, 2008</p>
                                </div>

                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="{2}">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">Gender</p>
                                    <p class="image-detail-2">Male</p>
                                </div>
                                <br />

                                <div class="signature-section">
                                    <p class="sign">Signature</p>
                                    <p class="sign-details">Take things slow and easy man, they don't rush success neither do they rush greatness.</p>
                                </div>

                                <div class="Activity-section">
                                    <p class="activity">Most Active Forums</p>
                                    <div class="active-background">
                                        <svg class="heart" width="19" height="16" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.1036 2.22555C18.6354 1.75714 18.0795 1.38556 17.4677 1.13205C16.8558 0.878532 16.2001 0.748047 15.5378 0.748047C14.8755 0.748047 14.2197 0.878532 13.6079 1.13205C12.996 1.38556 12.4401 1.75714 11.9719 2.22555L11.0003 3.19722L10.0286 2.22555C9.08289 1.27984 7.80022 0.748537 6.46277 0.748537C5.12532 0.748537 3.84266 1.27984 2.89694 2.22555C1.95122 3.17127 1.41992 4.45394 1.41992 5.79139C1.41992 7.12883 1.95122 8.4115 2.89694 9.35722L3.8686 10.3289L11.0003 17.4606L18.1319 10.3289L19.1036 9.35722C19.572 8.88903 19.9436 8.33313 20.1971 7.7213C20.4506 7.10946 20.5811 6.45367 20.5811 5.79139C20.5811 5.12911 20.4506 4.47332 20.1971 3.86148C19.9436 3.24964 19.572 2.69375 19.1036 2.22555V2.22555Z"
                                                stroke="black"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Relationship
                                    </div>

                                    <div class="active-background">
                                        <svg class="business" width="15" height="12" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.333 6.41699H3.66634C2.65382 6.41699 1.83301 7.2378 1.83301 8.25033V17.417C1.83301 18.4295 2.65382 19.2503 3.66634 19.2503H18.333C19.3455 19.2503 20.1663 18.4295 20.1663 17.417V8.25033C20.1663 7.2378 19.3455 6.41699 18.333 6.41699Z"
                                                stroke="black"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path d="M14.6663 19.25V4.58333C14.6663 4.0971 14.4732 3.63079 14.1294 3.28697C13.7856 2.94315 13.3192 2.75 12.833 2.75H9.16634C8.68011 2.75 8.2138 2.94315 7.86998 3.28697C7.52616 3.63079 7.33301 4.0971 7.33301 4.58333V19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        Business
                                    </div>
                                    <div class="active-background">Games</div>
                                    <div class="active-background-2">
                                        <svg class="security" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.0003 12.8337C12.0128 12.8337 12.8337 12.0128 12.8337 11.0003C12.8337 9.9878 12.0128 9.16699 11.0003 9.16699C9.9878 9.16699 9.16699 9.9878 9.16699 11.0003C9.16699 12.0128 9.9878 12.8337 11.0003 12.8337Z" stroke="black" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M5.91918 13.102C6.19596 13.7696 6.60163 14.3762 7.113 14.887L5.91918 13.102ZM5.91918 13.102C5.64239 12.4343 5.49993 11.7186 5.49993 10.9958M5.91918 13.102L5.49993 10.9958M5.49993 10.9958C5.49993 10.273 5.64239 9.5573 5.91918 8.88961C6.19596 8.22192 6.60163 7.61533 7.113 7.10453L6.1624 8.37885L5.49993 10.9958ZM4.51884 17.4812C2.80035 15.7622 1.83496 13.431 1.83496 11.0004C1.83496 8.56969 2.80035 6.23854 4.51884 4.51953M14.8863 7.1137C15.3977 7.6245 15.8034 8.23109 16.0802 8.89878C16.3569 9.56647 16.4994 10.2822 16.4994 11.0049C16.4994 11.7277 16.3569 12.4434 16.0802 13.1111C15.8034 13.7788 15.3977 14.3854 14.8863 14.8962L15.8045 13.102L16.0802 10.9958L15.8045 8.88961L14.8863 7.1137ZM17.4805 4.51953C19.199 6.23854 20.1644 8.56969 20.1644 11.0004C20.1644 13.431 19.199 15.7622 17.4805 17.4812L19.2996 14.887L20.1665 11.0007L19.2498 7.33398L17.4805 4.51953Z"
                                                stroke="black"
                                                stroke-width="0.8"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Security
                                    </div>
                                    <div class="active-background-2">
                                        <svg class="security" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.0003 12.8337C12.0128 12.8337 12.8337 12.0128 12.8337 11.0003C12.8337 9.9878 12.0128 9.16699 11.0003 9.16699C9.9878 9.16699 9.16699 9.9878 9.16699 11.0003C9.16699 12.0128 9.9878 12.8337 11.0003 12.8337Z" stroke="black" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M5.91918 13.102C6.19596 13.7696 6.60163 14.3762 7.113 14.887L5.91918 13.102ZM5.91918 13.102C5.64239 12.4343 5.49993 11.7186 5.49993 10.9958M5.91918 13.102L5.49993 10.9958M5.49993 10.9958C5.49993 10.273 5.64239 9.5573 5.91918 8.88961C6.19596 8.22192 6.60163 7.61533 7.113 7.10453L6.1624 8.37885L5.49993 10.9958ZM4.51884 17.4812C2.80035 15.7622 1.83496 13.431 1.83496 11.0004C1.83496 8.56969 2.80035 6.23854 4.51884 4.51953M14.8863 7.1137C15.3977 7.6245 15.8034 8.23109 16.0802 8.89878C16.3569 9.56647 16.4994 10.2822 16.4994 11.0049C16.4994 11.7277 16.3569 12.4434 16.0802 13.1111C15.8034 13.7788 15.3977 14.3854 14.8863 14.8962L15.8045 13.102L16.0802 10.9958L15.8045 8.88961L14.8863 7.1137ZM17.4805 4.51953C19.199 6.23854 20.1644 8.56969 20.1644 11.0004C20.1644 13.431 19.199 15.7622 17.4805 17.4812L19.2996 14.887L20.1665 11.0007L19.2498 7.33398L17.4805 4.51953Z"
                                                stroke="black"
                                                stroke-width="0.8"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        Culture
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </body>
</html>
