<!DOCTYPE html>

<html>
<head>
    <title>Profile Side Card</title>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <br>
    <div id="whole-space">
        <table>
            <thead>
                <tr>
                    <td>
                        <div class="first-panel">
                            <p class="username">
                                Oluwaseun's Stats
                            </p>
                            <div class="box-1">
                                <p class="total-topics">
                                    3,600
                                </p>
                                <p class="total-name">
                                    Total Topics Discussed
                                </p>
                            </div>
                            <div class="box-2">
                                <p class="total-topics">
                                    33,600
                                </p>
                                <p class="total-name">
                                    Total Threads and Replies
                                </p>
                            </div>


                            <div class="details">
                                <div class="image-border">
                                    <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </div>
                                <p class="image-detail-1">
                                    Last Seen
                                </p>
                                <p class="image-detail-2">
                                    Today - 3:14pm
                                </p>
                            </div>


                            <div class="details">
                                <div class="image-border">
                                    <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </div>
                                <p class="image-detail-1">
                                    Location
                                </p>
                                <p class="image-detail-2">
                                    Ikeja, Lagos, Nigeria
                                </p>
                            </div>


                            <div class="details">
                                <div class="image-border">
                                    <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                    </svg>
                                </div>
                                <p class="image-detail-1">
                                    Date Registered on Nairaland
                                </p>
                                <p class="image-detail-2">
                                    Sept. 5, 2008
                                </p>
                            </div>


                            <div class="details">
                                <div class="image-border">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                    </svg>
                                </div>
                                <p class="image-detail-1">
                                    Time Spent Online
                                </p>
                                <p class="image-detail-2">
                                    Sept. 5, 2008
                                </p>
                            </div>


                            <div class="details">
                                <div class="image-border">
                                    <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                    </svg>
                                </div>
                                <p class="image-detail-1">
                                    Gender
                                </p>
                                <p class="image-detail-2">
                                    Male
                                </p>
                            </div>


                            <div class="signature-section">
                                <p class="sign">
                                    Signature
                                </p>
                                <p class="sign-details">
                                    Take things slow and easy man, they don't rush success neither do they rush greatness.
                                </p>
                            </div>


                            <div class="Activity-section">
                                <p class="activity">
                                    Most Active Forums
                                </p>
                                <div class="active-background">
                                    Relationship
                                </div>
                                <div class="active-background">
                                    Business
                                </div>
                                <div class="active-background">
                                    Games
                                </div>
                                <div class="active-background">
                                    Security
                                </div>
                                <div class="active-background">
                                    Culture
                                </div>
                            </div>

                        </td>




                        <td>
                            <div class="second-panel">
                                <p class="username">
                                    Oluwaseun's Stats
                                </p>
                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Last Seen
                                    </p>
                                    <p class="image-detail-2">
                                        Today - 3:14pm
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Location
                                    </p>
                                    <p class="image-detail-2">
                                        Ikeja, Lagos, Nigeria
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Date Registered on Nairaland
                                    </p>
                                    <p class="image-detail-2">
                                        Sept. 5, 2008
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Time Spent Online
                                    </p>
                                    <p class="image-detail-2">
                                        Sept. 5, 2008
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Gender
                                    </p>
                                    <p class="image-detail-2">
                                        Male
                                    </p>
                                </div>


                                <div class="signature-section">
                                    <p class="sign">
                                        Signature
                                    </p>
                                    <p class="sign-details">
                                        Take things slow and easy man, they don't rush success neither do they rush greatness.
                                    </p>
                                </div>
                            </div>
                        </td>




                        <td>
                            <div class="third-panel">
                                <p class="username">
                                    My Stats
                                </p>
                                <div class="box-1">
                                    <p class="total-topics">
                                        3,600
                                    </p>
                                    <p class="total-name">
                                        Total Topics Discussed
                                    </p>
                                </div>
                                <div class="box-2">
                                    <p class="total-topics">
                                        33,600
                                    </p>
                                    <p class="total-name">
                                        Total Threads and Replies
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Last Seen
                                    </p>
                                    <p class="image-detail-2">
                                        Today - 3:14pm
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Location
                                    </p>
                                    <p class="image-detail-2">
                                        Ikeja, Lagos, Nigeria
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Date Registered on Nairaland
                                    </p>
                                    <p class="image-detail-2">
                                        Sept. 5, 2008
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Time Spent Online
                                    </p>
                                    <p class="image-detail-2">
                                        Sept. 5, 2008
                                    </p>
                                </div>


                                <div class="details">
                                    <div class="image-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                        </svg>
                                    </div>
                                    <p class="image-detail-1">
                                        Gender
                                    </p>
                                    <p class="image-detail-2">
                                        Male
                                    </p>
                                </div>


                                <div class="signature-section">
                                    <p class="sign">
                                        Signature
                                    </p>
                                    <p class="sign-details">
                                        Take things slow and easy man, they don't rush success neither do they rush greatness.
                                    </p>
                                </div>


                                <div class="Activity-section">
                                    <p class="activity">
                                        Most Active Forums
                                    </p>
                                    <div class="active-background">
                                        Relationship
                                    </div>
                                    <div class="active-background">
                                        Business
                                    </div>
                                    <div class="active-background">
                                        Games
                                    </div>
                                    <div class="active-background">
                                        Security
                                    </div>
                                    <div class="active-background">
                                        Culture
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </body>