* {
    margin: 0;
}
body {
    background-color: #e6e6e6;
    font-family: "DM Sans", sans-serif;
}
/*
#whole-space{
    width: 95%;
    height: 140vh;
    border: 2px solid black;
    margin: auto;
    text-align: center;
}*/
table {
    table-layout: fixed;
    width: 100%;
    height: 92%;
    margin: auto;
}
table,
td {
    border-spacing: 40px;
    vertical-align: top;
    text-align: left;
}
tr {
    background-color: white;
    word-wrap: break-word;
}
.username {
    font-size: 20px;
    margin: 40px 0 32px 0;
    text-indent: 20px;
    font-weight: 400;
}
.box-1,
.box-2 {
    background-color: #edf7f4;
    width: 158px;
    height: 52px;
    padding-top: 5px;
    padding-right: 3px;
    border-radius: 8px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 32px;
}
.total-topics {
    font-weight: 700;
    color: #0b5b43;
    text-indent: 12px;
    font-size: 1em;
    margin-bottom: 6px;
}
.total-name {
    font-size: 0.8em;
    text-indent: 5px;
    font-weight: 400;
    color: #666666;
}
.details {
    clear: left;
    margin-bottom: 25px;
}
.image-border {
    background-color: #f5f5f5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 12px 28px 20px;
    float: left;
    display: flex;
    justify-content: center;
}
svg {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px;
    color: #149f75;
}
.image-detail-1 {
    font-size: 14px;
    color: #595959;
    font-weight: 400;
    margin-bottom: 4px;
}
.image-detail-2 {
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.sign {
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    margin: 4px 0 7px 0;
    text-indent: 20px;
}
.sign-details {
    color: black;
    font-size: 14px;
    margin: 0 0 32px 22px;
    font-weight: 400;
}
.activity {
    text-indent: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 12px;
}
.active-background {
    display: inline;
    border-radius: 8px;
    width: 113px;
    height: 38px;
    padding: 8px 8px 9px 0;
    background-color: #f7f7f7;
    margin: 0 6px 31px 17px;
    font-weight: 400;
    font-size: 16px;
}
.active-background-2 {
    float: left;
    border-radius: 8px;
    width: 113px;
    height: 30px;
    padding-top: 5px;
    background-color: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    margin: 12px 6px 0 17px;
}
.heart,
.business,
.security {
    width: 22px;
    height: 22px;
    display: inline;
    vertical-align: middle;
    margin-right: 9px;
    margin-left: 9px;
}
