<div>
    class="flex flex-col h-screen md:w-3/4 justify-evenly items-center w-screen md:w-3/4 md:m-auto" >
    <!--  -->
    <!--  -->
    <!-- PRIMARY BUTTON -->
    <!--  -->
    <!--  -->

    <h1 class="font-bold">Primary Button:</h1>
    <!-- Biggest Buttons -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Biggest button 1 -->
        <button class="rounded w-40 h-10 mx-2 text-white cursor-pointer bg-primary">
      Button
    </button>

        <!-- Biggest Button 2 -->
        <button class="rounded w-40 h-10 mx-2 text-white cursor-pointer bg-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Biggest Button 3 -->
        <button class="rounded w-40 h-10 mx-2 text-white cursor-pointer bg-primary opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!-- Smaller than the one above -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Smaller button 1 -->
        <button class="rounded w-40 h-10 mx-2 text-sm text-white cursor-pointer bg-primary">
      Button
    </button>

        <!-- Smaller button 2 -->
        <button class="rounded w-40 h-10 mx-2 text-sm text-white cursor-pointer bg-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Smaller button 3 -->
        <button class="rounded w-40 h-10 mx-2 text-sm text-white cursor-pointer bg-primary opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!-- Smallest Button -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Smallest Button 1 -->
        <button class="rounded w-40 h-8 mx-2 text-xs text-white cursor-pointer bg-primary">
      Button
    </button>

        <!-- Smallest Button 2 -->
        <button class="rounded w-40 h-8 mx-2 text-xs text-white cursor-pointer bg-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Smallest Button 3 -->
        <button class="rounded w-40 h-10 mx-2 text-ts text-white cursor-pointer bg-primary opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!--  -->
    <!--  -->
    <!-- SECONDARY BUTTON -->
    <!--  -->
    <!--  -->
    <h1 class="font-bold">Secondary Button:</h1>

    <!-- Biggest Buttons -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Biggest Button 1 -->
        <button class="rounded w-40 h-10 mx-2 cursor-pointer text-primary bg-white border border-primary">
      Button
    </button>

        <!-- Biggest Button 2 -->
        <button class="rounded w-40 h-10 mx-2 text-primary cursor-pointer bg-white border border-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Biggest Button 3 -->
        <button class="rounded w-40 h-10 mx-2 text-primary cursor-pointer bg-white border border-primary opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!-- Smaller than the one above -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Smaller button 1 -->
        <button class="rounded w-40 h-10 mx-2 text-sm cursor-pointer text-primary bg-white border border-primary">
      Button
    </button>

        <!-- Smaller Button 2 -->
        <button class="rounded w-40 h-10 mx-2 text-sm cursor-pointer text-primary bg-white border border-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Smaller Button 3 -->
        <button class="rounded w-40 h-10 mx-2 text-sm text-primary bg-white border-2 border-primary cursor-pointer opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!-- Smallest Button 3 -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- Smallest Button 1 -->
        <button class="rounded w-40 h-8 mx-2 text-xs cursor-pointer text-primary bg-white border border-primary">
      Button
    </button>

        <!-- Smallest Button 2 -->
        <button class="rounded w-40 h-8 mx-2 text-xs cursor-pointer text-primary bg-white border border-primary hover:scale-110">
      Hovered Button
    </button>

        <!-- Smallest Button 3 -->
        <button class="rounded w-40 h-8 mx-2 text-xs text-primary bg-white border-2 border-primary cursor-pointer opacity-40" disabled>
      Disabled Button
    </button>
    </div>

    <!--  -->
    <!--  -->
    <!-- TERTIARY BUTTON -->
    <!--  -->
    <!--  -->
    <h1 class="font-bold">Tertiary Button:</h1>

    <!-- Biggest Button -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- <p>56px:</p> -->
        <!-- Biggest Button  -->
        <button class="w-40 h-10 mx-2 cursor-pointer text-primary">Button</button>
    </div>

    <!-- Smaller than the above -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- <p>40px:</p> -->
        <!-- Smaller Button -->
        <button class="w-40 h-10 mx-2 text-sm cursor-pointer text-primary">
      Button
    </button>
    </div>

    <!-- smallest button -->
    <div class="flex w-5/6 justify-evenly items-center">
        <!-- <p>40px:</p> -->
        <!-- Smallest Button -->
        <button class="w-40 h-8 mx-2 text-xs cursor-pointer text-primary">
      Button
    </button>
    </div>
</div>