<div class="p-6 bg-white w-6/12 m-auto text-green-500 rounded-md pb-20">
    <div class="m-auto">
        <div>
            <h3 class="text-left text-black text-3xl font-semibold mb-8">Create a Topic...</h3>
        </div>
        <div class="flex flex-col">
            <div>
                <form>
                    <div class="mb-5">
                        <label class="block mb-3">Topic Subject</label>
                        <input type="text" class="form-input w-full p-3 bg-transparent border-solid border border-green-500 rounded-md focus:outline-none mb-2 placeholder:text-green-800" placeholder="This Sapa is not good what do we do... I" />
                        <p class="text-xs"><a href="#">Information about the input</a></p>
                    </div>

                    <div class="mb-5">
                        <div class="flex justify-between mb-3 items-end">
                            <label class="block text-green-800">Write your Discussion....</label>
                            <!-- put the cancel button here -->
                            <button class="bg-green-100 rounded-full w-7 h-7 flex justify-center items-center">
                                <img src="../../assets/icons/x.svg" alt="" class="h-4 w-4" />
                            </button>
                        </div>
                        <div class="w-full bg-transparent rounded-md focus:outline-none border-solid border border-green-500 p-4">
                            <div class="flex py-3">
                                <div class="flex justify-start mr-5">
                                    <!-- Input those text icons -->
                                    <button>
                                        <img src="../../assets/icons/bold.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/italic.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/underline.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                </div>

                                <div class="flex justify-start mr-5">
                                    <!-- Input those text icons -->
                                    <button>
                                        <img src="../../assets/icons/align-left.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/align-center.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/align-right.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/align-justify.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/list.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                </div>

                                <div class="flex justify-start">
                                    <!-- Input those text icons -->
                                    <button>
                                        <img src="../../assets/icons/link-2.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/link.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/minus.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/paperclip.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                    <button>
                                        <img src="../../assets/icons/twitch.svg" alt="" class="h-4 w-4 mr-3" />
                                    </button>
                                </div>
                            </div>

                            <textarea type="text" placeholder="Type your content here" class="bg-transparent focus:border-none focus:outline-none w-full h-48"></textarea>
                        </div>
                    </div>

                    <div class="w-full px-4 py-4 border-solid border border-green-500 rounded-md h-16 mb-7 flex justify-start">
                        <!-- Put the three icons here -->
                        <button class="bg-green-100 rounded-full w-9 h-9 flex justify-center items-center mr-3">
                            <img src="../../assets/icons/picture.svg" alt="" class="h-6 w-6" />
                        </button>
                        <button class="bg-green-100 rounded-full w-9 h-9 flex justify-center items-center mr-3">
                            <img src="../../assets/icons/video.svg" alt="" class="h-6 w-6" />
                        </button>
                        <button class="bg-green-100 rounded-full w-9 h-9 flex justify-center items-center mr-3">
                            <img src="../../assets/icons/link-down-2.svg" alt="" class="h-6 w-6" />
                        </button>
                        <button class="bg-green-100 rounded-full w-9 h-9 flex justify-center items-center mr-3">
                            <img src="../../assets/icons/bar-chart-2.svg" alt="" class="h-6 w-6" />
                        </button>
                    </div>

                    <div class="flex justify-end">
                        <button class="bg-green-800 px-12 py-2 text-white rounded-md" type="submit">Submit Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
