<!DOCTYPE html>
<html lang="en">

<article class="flex lg:h-screen items-center justify-center">
    <section class="p-3 sm:p-6 flex flex-wrap w-full bg-white max-w-[1200px] mx-auto">
        <!-- first block -->
        <div class="w-full md:w-1/3 p-2 min-h-[280px]">
            <div class="w-full h-full relative">
                <!-- dark overlay -->
                <div class="overlay z-20 bg-black bg-opacity-50 absolute h-full w-full rounded-lg flex items-center justify-center">
                    <!-- close icon -->
                    <span class="hover:scale-105 transition-all ease-in-out duration-200 block rounded-full w-7 h-7 p-2 flex items-center justify-center bg-white bg-opacity-40 text-white text-xs cursor-pointer right-4 top-4 absolute"><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
                /></svg
            ></span>

                    <!-- main action button -->
                    <span class="block rounded-full w-12 h-12 p-2 flex items-center justify-center bg-white text-zinc-500 text-xs cursor-pointer hover:scale-125 transition-all ease-in-out duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-5 h-5 cursor-pointer"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"
                />
              </svg>
            </span>
                </div>
                <!-- main image -->
                <img src="../../assets/images/img1.jpg" alt="" class="z-10 h-full w-full object-cover absolute rounded-lg" />
            </div>
        </div>

        <!-- second block -->
        <div class="w-full md:w-1/3 p-2 min-h-[280px]">
            <div class="w-full h-full relative">
                <!-- dark overlay -->
                <div class="overlay z-20 bg-black bg-opacity-50 absolute h-full w-full rounded-lg flex items-center justify-center">
                    <!-- close icon -->
                    <span class="hover:scale-105 transition-all ease-in-out duration-200 block rounded-full w-7 h-7 p-2 flex items-center justify-center bg-white bg-opacity-40 text-white text-xs cursor-pointer right-4 top-4 absolute"><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-x-lg w-fill h-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
                /></svg
            ></span>

                    <!-- main action button -->
                    <span class="block rounded-full w-12 h-12 p-2 flex items-center justify-center bg-white text-green-600 text-xs cursor-pointer hover:scale-125 transition-all ease-in-out duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-play-fill w-7 h-7 cursor-pointer"
                viewBox="0 0 16 16"
              >
                <path
                  d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                />
              </svg>
            </span>
                </div>
                <!-- main image -->
                <img src="../../assets/images/img2.jpg" alt="" class="z-10 h-full w-full object-cover absolute rounded-lg" />
            </div>
        </div>

        <!-- first block -->
        <div class="w-full md:w-1/3 p-2 min-h-[280px]">
            <div class="w-full h-full relative">
                <!-- dark overlay -->
                <div class="overlay z-20 bg-black bg-opacity-50 absolute h-full w-full rounded-lg flex items-center justify-center">
                    <!-- close icon -->
                    <span class="hover:scale-105 transition-all ease-in-out duration-200 block rounded-full w-7 h-7 p-2 flex items-center justify-center bg-white bg-opacity-40 text-white text-xs cursor-pointer right-4 top-4 absolute"><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
                /></svg
            ></span>

                    <!-- main action button -->
                    <span class="block rounded-full w-12 h-12 p-2 flex items-center justify-center bg-white text-zinc-500 text-xs cursor-pointer hover:scale-125 transition-all ease-in-out duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-5 h-5 cursor-pointer"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"
                />
              </svg>
            </span>
                </div>
                <!-- main image -->
                <img src="../../assets/images/img3.jpg" alt="" class="z-10 h-full w-full object-cover absolute rounded-lg" /> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni doloremque voluptatem repellat nisi perspiciatis, officiis
                sapiente sunt a fuga quo debitis reiciendis voluptatum, expedita ratione nulla! Mollitia, numquam nostrum.
            </div>
        </div>
    </section>
    </body>

</html>