<header class="px-16 flex items-center relative">
  <nav class="flex h-20 justify-between items-center w-full">
    <!-- Left Side -->
    <div class="flex space-x-14 items-center">
      <!-- brand -->
      <div>
        <h1 class="text-2xl font-bold text-primary">Nairaland Forum</h1>
      </div>

      <!-- search -->
      <div class="py-3 px-4 flex rounded-lg border border-[#A8ABBD] w-64">
        <input
          type="text"
          placeholder="Search anything..."
          class="w-full outline-none"
        />
        <div include-component="../../assets/icons/Search.svg"></div>
      </div>

      <!-- nav links -->
      <div>
        <ul class="list-none flex space-x-7">
          <!-- active tab -->
          <li class="relative h-20 flex flex-col justify-center">
            <div class="text-primary font-bold">Trending</div>
            <div class="bg-primary h-1 w-full absolute bottom-0"></div>
          </li>

          <!-- inactive tabs -->
          <li class="relative h-20 flex flex-col justify-center">
            <div>Recent</div>
            <div class="h-1 w-full absolute bottom-0"></div>
          </li>
          <li class="relative h-20 flex flex-col justify-center">
            <div>Latest</div>
            <div class="h-1 w-full absolute bottom-0"></div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Right Side -->
    <div class="flex space-x-8 items-center">
      <button class="bg-[#F1FDFA] p-2 rounded-lg h-max">
        <div include-component="../../assets/icons/bell.svg"></div>
      </button>
      <div class="rounded-full border border-primary p-1 overflow-hidden">
        <img
          src="../../assets/images/profile.png"
          alt="profile"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </nav>
</header>
