<div class="max-w-3xl my-10 mx-auto">
    <div class="flex relative mb-5">
        <p class="text-primary block">Write your Discussion....</p>
        <button class="bg-[#D2F9ED] rounded-full w-[28px] h-[28px] flex justify-center items-center absolute right-[0px]">
            <img src="/assets/images/post-textarea/x.svg" alt="" class="h-[15px] w-[15px]" />
        </button>
    </div>
    <div class="h-full w-full border rounded-lg">
        <div class="w-full flex flex-row m-4">
            <div class="flex flex-row space-x-[12px]">
                <button>
                    <img src="/assets/images/post-textarea/bold.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/italic.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/underline.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
            </div>
            <div class="flex flex-row space-x-[17px] ml-[28px]">
                <button>
                    <img src="/assets/images/post-textarea/align-left.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/align-center.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/align-left.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/align-justify.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/list.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
            </div>
            <div class="flex flex-row space-x-[12px] ml-[28px]">
                <button>
                    <img src="/assets/images/post-textarea/link-2.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/link.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/minus.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/paperclip.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
                <button>
                    <img src="/assets/images/post-textarea/twitch.svg" alt="" class="w-[16px] h-[16px]" />
                </button>
            </div>
        </div>
        <div class="mx-5 mt-5">
            <textarea name="content" class="resize-none outline-none w-full focus:border-none" rows="10" placeholder="Type your content here...."></textarea>
        </div>
    </div>
</div>
