<header class="md:px-16 flex items-center relative mb-5 md:mb-16 shadow-lg md:py-3">
    <nav class="flex justify-between items-center w-full">
        <!-- Left Side -->
        <div class="flex flex-col md:flex-row md:space-x-14 items-center w-full md:w-max">
            <!-- brand -->
            <div class="flex md:block items-center w-full justify-between md:w-max px-4 md:px-7 pt-4 pb-4 md:p-0">
                <h1 class="text-md md:text-2xl font-bold text-primary">Nairaland Forum</h1>
                <div class="flex md:hidden space-x-5 items-center">
                    <!-- Mobile Join Nairaland Button -->
                    <button class="md:hidden bg-primary text-white px-4 py-2 text-sm rounded-lg">Join Nairaland</button>

                    <!-- Bugger Icon -->
                    <div class="flex flex-col space-y-1 md:space-y-2 items-end">
                        <div class="bg-black rounded-full w-4 h-[.13rem] md:w-6 md:h-0.5"></div>
                        <div class="bg-black rounded-full w-3 h-[.13rem] md:w-5 md:h-0.5"></div>
                        <div class="bg-black rounded-full w-4 h-[.13rem] md:w-6 md:h-0.5"></div>
                    </div>
                </div>
            </div>

            <!-- search -->
            <div class="hidden py-3 px-4 md:flex rounded-lg border border-[#A8ABBD] w-64">
                <input type="text" placeholder="Search anything..." class="w-full outline-none" />
                <div include-component="/assets/images/navbar/Search.svg"></div>
            </div>

            <!-- nav links -->
            <div class="bg-primary w-full md:w-max md:bg-transparent hidden md:flex items-center justify-between md:block pt-2 md:pt-0 px-7">
                <ul class="list-none flex space-x-7 pt-2">
                    <li class="nav-link nav-link__active">Trending</li>
                    <li class="nav-link">Recent</li>
                    <li class="nav-link">Latest</li>
                </ul>

                <!-- Mobile Search -->
                <div class="space-x-5 md:hidden flex items-center">
                    <div class="h-5 w-0.5 bg-white/50"></div>
                    <img src="/assets/images/navbar/MobileSearchIcon.svg" alt="search" />
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="hidden md:flex space-x-4">
            <button class="text-primary py-3 px-6 h-max">Sign in</button>
            <button class="bg-primary text-white py-3 px-9 rounded-lg h-max">Join Nairaland</button>
        </div>
    </nav>
</header>

<br>
<br>

<header class="md:px-16 bg-white flex items-center relative">
    <nav class="flex h-30 md:h-20 justify-between items-center w-full">
        <!-- Left Side -->
        <div class="flex flex-col md:flex-row md:space-x-14 h-full items-center w-full md:w-max">
            <!-- brand -->
            <div class="flex md:block items-center mt-0 w-full justify-between md:w-max px-7 pt-12 pb-5 md:p-0">
                <h1 class="text-md md:text-2xl font-bold text-primary">Nairaland Forum</h1>
                <div class="flex md:hidden space-x-5 items-center">
                    <!-- Mobile Join Nairaland Button -->
                    <button class="md:hidden bg-primary text-white px-4 py-2 text-sm rounded-lg">Join Nairaland</button>

                    <!-- Bugger Icon -->
                    <div class="flex flex-col space-y-2 items-end">
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                        <div class="bg-black rounded-full w-5 h-0.5"></div>
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                    </div>
                </div>
            </div>

            <!-- search -->
            <div class="hidden py-2.5 px-4 md:flex rounded-lg border border-[#A8ABBD] w-64">
                <input type="text" placeholder="Search anything..." class="w-full outline-none" />
                <div include-component="/assets/images/navbar/Search.svg"></div>
            </div>

            <!-- nav links -->
            <div class="bg-primary w-full md:w-max md:bg-transparent md:h-full flex items-center pt-\1 justify-between md:block md:pt-0 px-7">
                <ul class="list-none flex space-x-7 md:h-full">
                    <!-- inactive tabs -->
                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white md:text-primary">Trending</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>

                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white md:text-primary">Recent</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>

                    <!-- active tab -->
                    <li class="relative h-14 md:h-full flex flex-col justify-center">
                        <div class="text-white font-bold md:text-primary">Latest</div>
                        <div class="bg-white md:bg-primary h-1 w-full absolute bottom-0"></div>
                    </li>
                </ul>

                <!-- Mobile Search -->
                <div class="space-x-5 md:hidden flex items-center">
                    <div class="h-5 w-0.5 bg-white/50"></div>
                    <img src="/assets/images/navbar/MobileSearchIcon.svg" alt="search" />
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="hidden md:flex space-x-4">
            <button class="text-primary py-3 px-6 h-max">Sign in</button>
            <button class="bg-primary text-white py-3 px-9 rounded-lg h-max">Join Nairaland</button>
        </div>
    </nav>
</header>

<br>
<br>

<header class="flex flex-col md:flex-row md:items-center border border-solid font-primary">
    <div class="flex flex-row items-center px-4 pt-5 my-2">
        <h1 class="flex-auto text-2xl py-2 font-normal text-slate-900 text-primary font-bold">Nairaland Forum</h1>
        <div class="flex flex-row md:hidden items-center grow justify-end">
            <img class="inline-block p-1 h-12 w-12 rounded-full ring-1 mr-5 ring-primary" src="/assets/images/navbar/profile.png" alt="" />
            <button class="flex-none md:hidden flex items-center justify-center w-12 h-10 rounded-full text-slate-300" type="button" aria-label="More">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.6667 16H9" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M28 8H4" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M28 24H4" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>

    <div class="py-3 lg:mx-16 hidden lg:flex px-4 flex rounded-lg border border-[#A8ABBD] w-64">
        <input type="text" placeholder="Search anything..." class="w-full outline-none" />
        <div include-component="/assets/images/navbar/Search.svg"></div>
    </div>

    <nav class="flex flex-row items-down md:bg-white bg-primary px-4">
        <ul class="flex flex-row min-h-fit space-x-5 md:space-x-8 py-4">
            <li>
                <a href="#" class="border-b-4 border-primary font-semibold md:pb-8 md:text-primary text-white hover:border-b-4 hover:font-semibold">Trending</a>
            </li>
            <li>
                <a href="#" class="md:text-primary text-white md:pb-8 hover:border-b-4 hover:border-primary hover:font-semibold">Recent</a>
            </li>
            <li>
                <a href="#" class="md:text-primary text-white md:pb-8 hover:border-b-4 hover:border-primary hover:font-semibold">New</a>
            </li>
        </ul>
        <span class="grow"></span>
        <div class="flex md:hidden items-center flex-row border-l border-slate-300">
            <button class="flex-none flex items-center ml-1 justify-center w-10 h-10 rounded-full text-slate-300" type="button" aria-label="More">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8.7824 0.666992C13.2574 0.666992 16.8974 4.30699 16.8974 8.78199C16.8974 10.8933 16.0872 12.8189 14.7613 14.2641L17.3702 16.8676C17.6144 17.1117 17.6152 17.5067 17.3711 17.7509C17.2494 17.8742 17.0886 17.9351 16.9286 17.9351C16.7694 17.9351 16.6094 17.8742 16.4869 17.7526L13.8464 15.1195C12.4575 16.2319 10.6963 16.8978 8.7824 16.8978C4.3074 16.8978 0.666565 13.257 0.666565 8.78199C0.666565 4.30699 4.3074 0.666992 8.7824 0.666992ZM8.7824 1.91699C4.99656 1.91699 1.91656 4.99616 1.91656 8.78199C1.91656 12.5678 4.99656 15.6478 8.7824 15.6478C12.5674 15.6478 15.6474 12.5678 15.6474 8.78199C15.6474 4.99616 12.5674 1.91699 8.7824 1.91699Z"
                        fill="white"
                    />
                </svg>
            </button>
        </div>
    </nav>
    <div class="flex hidden md:flex md:ml-auto mr-12 space-x-6 lg:space-x-8 items-center">
        <button class="bg-[#F1FDFA] p-2 rounded-lg h-max">
            <div include-component="/assets/images/navbar/bell.svg"></div>
        </button>
        <div class="rounded-full border border-primary p-1 overflow-hidden">
            <img src="/assets/images/navbar/profile.png" alt="profile" class="w-full h-full object-cover" />
        </div>
    </div>
</header>

<br>
<br>

<header class="md:px-16 bg-white flex items-center relative">
    <nav class="flex h-30 md:h-20 justify-between items-center w-full">
        <!-- Left Side -->
        <div class="flex flex-col md:flex-row md:space-x-14 h-full items-center w-full md:w-max">
            <!-- brand -->
            <div class="flex md:block items-center mt-0 w-full justify-between md:w-max px-7 pt-12 pb-5 md:p-0">
                <h1 class="text-md md:text-2xl font-bold text-primary">Nairaland Forum</h1>
                <div class="flex md:hidden space-x-5 items-center">
                    <!-- Mobile Join Nairaland Button -->
                    <button class="md:hidden bg-primary text-white px-4 py-2 text-sm rounded-lg">Join Nairaland</button>

                    <!-- Bugger Icon -->
                    <div class="flex flex-col space-y-2 items-end">
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                        <div class="bg-black rounded-full w-5 h-0.5"></div>
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                    </div>
                </div>
            </div>

            <!-- search -->
            <div class="hidden py-2.5 px-4 md:flex rounded-lg border border-[#A8ABBD] w-64">
                <input type="text" placeholder="Search anything..." class="w-full outline-none" />
                <div include-component="/assets/images/navbar/Search.svg"></div>
            </div>

            <!-- nav links -->
            <div class="bg-primary w-full md:w-max md:bg-transparent md:h-full flex items-center pt-\1 justify-between md:block md:pt-0 px-7">
                <ul class="list-none flex space-x-7 md:h-full">
                    <!-- inactive tab -->
                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white md:text-primary">Trending</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>

                    <!-- active tab -->
                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white font-bold md:text-primary">Recent</div>
                        <div class="bg-white md:bg-primary h-1 w-full absolute bottom-0"></div>
                    </li>

                    <!-- inactive tab -->
                    <li class="relative h-14 md:h-full flex flex-col justify-center">
                        <div class="text-white md:text-primary">Latest</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>
                </ul>

                <!-- Mobile Search -->
                <div class="space-x-5 md:hidden flex items-center">
                    <div class="h-5 w-0.5 bg-white/50"></div>
                    <img src="/assets/images/navbar/MobileSearchIcon.svg" alt="search" />
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="hidden md:flex space-x-4">
            <button class="text-primary py-3 px-6 h-max">Sign in</button>
            <button class="bg-primary text-white py-3 px-9 rounded-lg h-max">Join Nairaland</button>
        </div>
    </nav>
</header>

<br>
<br>

<header class="md:px-16 bg-white flex items-center relative">
    <nav class="flex h-30 md:h-20 justify-between items-center w-full">
        <!-- Left Side -->
        <div class="flex flex-col md:flex-row md:space-x-14 h-full items-center w-full md:w-max">
            <!-- brand -->
            <div class="flex md:block items-center mt-0 w-full justify-between md:w-max px-7 pt-12 pb-5 md:p-0">
                <h1 class="text-md md:text-2xl font-bold text-primary">Nairaland Forum</h1>
                <div class="flex md:hidden space-x-5 items-center">
                    <!-- Mobile Join Nairaland Button -->
                    <button class="md:hidden bg-primary text-white px-4 py-2 text-sm rounded-lg">Join Nairaland</button>

                    <!-- Bugger Icon -->
                    <div class="flex flex-col space-y-2 items-end">
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                        <div class="bg-black rounded-full w-5 h-0.5"></div>
                        <div class="bg-black rounded-full w-6 h-0.5"></div>
                    </div>
                </div>
            </div>

            <!-- search -->
            <div class="hidden py-2.5 px-4 md:flex rounded-lg border border-[#A8ABBD] w-64">
                <input type="text" placeholder="Search anything..." class="w-full outline-none" />
                <div include-component="/assets/images/navbar/Search.svg"></div>
            </div>

            <!-- nav links -->
            <div class="bg-primary w-full md:w-max md:bg-transparent md:h-full flex items-center pt-\1 justify-between md:block md:pt-0 px-7">
                <ul class="list-none flex space-x-7 md:h-full">
                    <!-- inactive tabs -->
                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white font-bold md:text-primary">Trending</div>
                        <div class="bg-white md:bg-primary h-1 w-full absolute bottom-0"></div>
                    </li>

                    <!-- inactive tabs -->
                    <li class="relative h-14 flex md:h-full flex-col justify-center">
                        <div class="text-white md:text-primary">Recent</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>

                    <li class="relative h-14 md:h-full flex flex-col justify-center">
                        <div class="text-white md:text-primary">Latest</div>
                        <div class="h-1 w-full absolute bottom-0"></div>
                    </li>
                </ul>

                <!-- Mobile Search -->
                <div class="space-x-5 md:hidden flex items-center">
                    <div class="h-5 w-0.5 bg-white/50"></div>
                    <img src="/assets/images/navbar/MobileSearchIcon.svg" alt="search" />
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="hidden md:flex space-x-4">
            <button class="text-primary py-3 px-6 h-max">Sign in</button>
            <button class="bg-primary text-white py-3 px-9 rounded-lg h-max">Join Nairaland</button>
        </div>
    </nav>
</header>

