<!-- SECTION -->
<section class="bg-white w-max max-w-full mx-auto py-5 px-4 rounded-lg">
    <!-- text -->
    <h1 class="font-bold font-primary text-2xl text-primary">Today's <span class="text-black"> Stats </span></h1>

    <!-- stats -->
    <div class="mt-5 flex flex-col gap-4">
        <!-- stat 1 -->
        <div class="flex items-center justify-evenly border-solid border-grey-900 border py-2 w-fill pl-3 pr-10 rounded-lg">
            <div class="bg-primary w-8 h-8 grid place-items-center rounded-full">
                <img src="../../assets/icons/community.svg" alt="community" />
            </div>
            <div class="ml-3">
                <h1 class="font-bold font-primary text-2xl">3,650,000</h1>
                <p class="text-slate-500 font-normal font-primary text-sm">Members</p>
            </div>
        </div>

        <!-- stat 2 -->
        <div class="flex items-center justify-evenly border-solid border-grey-900 border py-2 w-fill pl-3 pr-10 rounded-lg">
            <div class="bg-primary w-8 h-8 grid place-items-center rounded-full">
                <img src="../../assets/icons/topic.svg" alt="community" />
            </div>
            <div class="ml-3">
                <h1 class="font-bold font-primary text-2xl">3,650,000</h1>
                <p class="text-slate-500 font-normal font-primary text-sm">Topics Discussed</p>
            </div>
        </div>

        <!-- stat 3 -->
        <div class="flex items-center justify-evenly border-solid border-grey-900 border py-2 w-fill pl-3 pr-10 rounded-lg">
            <div class="bg-primary w-8 h-8 grid place-items-center rounded-full">
                <img src="../../assets/icons/status-online.svg" alt="community" />
            </div>
            <div class="ml-3">
                <h1 class="font-bold font-primary text-2xl">620,000</h1>
                <p class="text-slate-500 font-normal font-primary text-sm">Members Online</p>
            </div>
        </div>
    </div>

    <!-- abeg image -->
    <div class="mx-auto mt-11 py-3">
        <img src="../../assets/images/abeg.png" alt="abeg" class="w-full mx-auto rounded-lg" />
    </div>

    <!-- place ad -->
    <div class="w-56 mt-6 mx-auto h-52 rounded-lg border-grey-100 border-dashed border py-5 flex flex-col justify-around items-center">
        <p class="text-xl w-3/5 font-normal font-primary">Want to place an Ad?</p>
        <button class="rounded-lg font-primary w-40 h-10 mx-2 text-white cursor-pointer bg-primary">Get in Touch</button>
    </div>
</section>
