<div class="bg-[#F5F7F3] py-20 px-5">
  <div class="rounded-lg bg-white w-full max-w-sm mx-auto">
    <div class="p-4">
      <!-- USER PROFILE -->
      <div class="flex justify-between items-center">
        <div class="flex space-x-2 mb-2">
          <!-- User Image -->
          <div class="w-10 h-10 rounded-full overflow-hidden self-center">
            <img
              src="https://randomuser.me/api/portraits/men/59.jpg"
              alt="user profile"
              class="w-full h-full object-cover"
            />
          </div>
          <!-- User Handle and Time -->
          <div>
            <p class="">@Eniola</p>
            <p class="text-xs text-[#808080]">Today - 3:48AM</p>
          </div>
        </div>
        <!-- icon -->
        <div
          class="p-1 bg-[#F5F5F5] w-max rounded-full"
          include-component="../../assets/icons/more-horizontal.svg"
        ></div>
      </div>

      <!-- Post Content -->
      <div class="my-2">
        <h2 class="font-bold text-lg">
          Help Us Beg Atiku To Allow Southern Presidency In 2023, Afegbua Tells
          Nigerians...
        </h2>
      </div>
      <div class="flex space-x-2 h-max items-center">
        <div>
          <p class="text-[#666]">Politics</p>
        </div>
        <!-- Separator dot -->
        <div class="w-1.5 h-1.5 bg-primary rounded-full"></div>
        <!-- Follow link -->
        <div>
          <p class="text-[#666]">Read more...</p>
        </div>
      </div>
    </div>
    <!-- STATISTICS MOBILE -->
    <div class="p-4 border-t border-color-[#BFBFBF] flex justify-between">
      <!-- === Likes === -->
      <div class="flex space-x-1 items-center">
        <!-- icon -->
        <div
          class="p-1 bg-[#F5F5F5] w-max rounded-full"
          include-component="../../assets/icons/thumbs-up.svg"
        ></div>

        <!-- stats -->
        <p class="text-xs">433.3k</p>
        <!-- <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
      <p class="text-[10px] text-[#808080]">Likes</p> -->
      </div>

      <!-- === Comments === -->
      <div class="flex space-x-1 items-center">
        <!-- icon -->
        <div
          class="p-1 bg-[#F5F5F5] w-max rounded-full"
          include-component="../../assets/icons/message-square.svg"
        ></div>

        <!-- stats -->
        <p class="text-xs">1280</p>
        <!-- <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
      <p class="text-[10px] text-[#808080]">Comments</p> -->
      </div>

      <!-- === Shares === -->
      <div class="flex space-x-1 items-center">
        <!-- icon -->
        <div
          class="p-1 bg-[#F5F5F5] w-max rounded-full"
          include-component="../../assets/icons/share.svg"
        ></div>

        <!-- stats -->
        <p class="text-xs">13.3k</p>
        <!-- <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
      <p class="text-[10px] text-[#808080]">Shares</p> -->
      </div>

      <!-- === Shares === -->
      <div class="flex space-x-1 items-center">
        <!-- icon -->
        <div
          class="p-1 bg-[#F5F5F5] w-max rounded-full"
          include-component="../../assets/icons/share.svg"
        ></div>

        <!-- stats -->
        <p class="text-xs">13.3k</p>
        <!-- <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
      <p class="text-[10px] text-[#808080]">Shares</p> -->
      </div>
    </div>
  </div>
</div>
