@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    scroll-behavior: smooth;
}

/* use this to debug sizing errors - Tochi*/
/* *{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
