<div class="bg-slate-300 m-3 px-2 py-2">
   <div class="w-196 h-70 px-4 py-2 m-3  rounded-lg bg-white font-primary">
       <!-- top content -->
       <div class="flex justify-between">
          <div class="flex flex-row">
            <div class="rounded-full bg-primary w-9 h-9 mr-3 bg-gray-400 border-2 "></div>
            <div class="text-sm">@Eniola <p class="text-slate-600">Today - 3:48AM</p></div>
          </div>
    
         <div class="w-9 h-9 bg-gray-100 rounded-full left-5">
            <img src="../../assets/icons/arrow.svg" alt="arrow" class="w-4 h-4 relative left-2.5 top-2.5">
        </div>
    
       </div>
       <!-- main content -->
       <div class="mt-2 text-black">
         <h2 class="font-normal  px-1 py-2 text-base leading-5">Help Us Beg Atiku To Allow Southern Presidency In 2023, Afegbua Tells Nigerians</h2>
         <p class="py-2"><h5 class="leading-3 text-primary">Security<span class="w-1 h-1 text-base">.</span><span class="text-black">Read More...</span></h5></p>
       </div>
       <!-- news -->
       <div class="mt-3">
          <h4 class=" text-sm font-normal text-slate-600 left-16px  top-122px">A chieftain of the Peoples Democratic Party (PDP), Prince Kassim Afegbua has urged Nigerians to appeal to former Vice-President Atiku Abubakar to drop his presidential ambition in 2023 and work for zoning of the...</h4>
       </div>
       <!-- icons -->
       
       <div class="flex flex-col md:flex-row justify-start">
         <div class="m-3"><img src="../../assets/icons/thumbs.svg"  class="inline px-4 "/>433.3K <span class="text-primary text-base">.</span><span class="text-xs">Likes</span></div>
         <div class="m-3"><img src="../../assets/icons/message.svg" class="inline px-4"/>1280 <span class="text-primary text-base">.</span><span class="text-xs">Comments</span></div>
         <div  class="m-3"><img src="../../assets/icons/share.svg" class="inline px-4" />13.3K <span class="text-primary text-base">.</span><span class="text-xs">Shares</span></div>
         <div  class="m-3"><img src="../../assets/icons/eye.svg" class="inline px-4"/>13.3K <span class="text-primary text-base">.</span><span class="text-xs">Views</span></div>
    </div>
    </div>
</div>