<!-- Component's container -->
<div class="my-20 py-10 bg-gray-50">
  <!-- Outer body of the reply -->
  <div class="w-full md:w-3/4 mx-auto p-5 rounded-lg bg-white">
    <!-- Post title -->
    <div class="p-4 border border-color-[#BFBFBF] rounded-lg font-medium">
      Help Us Beg Atiku To Allow Southern Presidency in 2023, Afegbua tells
      Nigerians...
    </div>

    <!-- The Reply Section -->
    <div class="flex flex-col space-y-5">
      <div>
        <!-- Vertical divider -->
        <div class="h-8 w-0.5 bg-gray-200 mx-5"></div>

        <!-- USER PROFILE -->
        <div class="flex space-x-2">
          <!-- User Image -->
          <div class="w-10 h-10 rounded-full overflow-hidden self-center">
            <img
              src="https://randomuser.me/api/portraits/men/59.jpg"
              alt="user profile"
              class="w-full h-full object-cover"
            />
          </div>
          <!-- User Handle and Time -->
          <div>
            <p class="font-medium">@calebareevoso</p>
            <p class="text-xs text-[#808080]">3:48AM</p>
          </div>
          <div class="flex space-x-2 h-max items-center">
            <!-- Separator dot -->
            <div class="w-1 h-1 bg-black rounded-full"></div>
            <!-- Follow link -->
            <div>
              <p class="text-primary font-medium">Follow</p>
            </div>
          </div>
        </div>
      </div>

      <!-- USER REPLY -->
      <div
        class="p-4 border border-color-[#BFBFBF] rounded-lg flex flex-col space-y-5"
      >
        <p class="text-[#4D4D4D]">
          A chieftain of the Peoples Democratic Party (PDP), Prince Kassim
          Afegbua has urged Nigerians to appeal to former Vice-President Atiku
          Abubakar to drop his presidential ambition in 2023 and work for zoning
          of the ticket to the South.
        </p>

        <!-- STATISTICS -->
        <div
          class="p-3 border border-color-[#BFBFBF] rounded-lg flex space-x-5"
        >
          <!-- === Likes === -->
          <div class="flex space-x-1 items-center">
            <!-- icon -->
            <div
              class="p-1 bg-[#F5F5F5] w-max rounded-full"
              include-component="../../assets/icons/thumbs-up.svg"
            ></div>

            <!-- stats -->
            <p class="text-[10px]">433.3k</p>
            <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
            <p class="text-[10px] text-[#808080]">Likes</p>
          </div>

          <!-- === Comments === -->
          <div class="flex space-x-1 items-center">
            <!-- icon -->
            <div
              class="p-1 bg-[#F5F5F5] w-max rounded-full"
              include-component="../../assets/icons/message-square.svg"
            ></div>

            <!-- stats -->
            <p class="text-[10px]">1280</p>
            <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
            <p class="text-[10px] text-[#808080]">Comments</p>
          </div>

          <!-- === Shares === -->
          <div class="flex space-x-1 items-center">
            <!-- icon -->
            <div
              class="p-1 bg-[#F5F5F5] w-max rounded-full"
              include-component="../../assets/icons/share.svg"
            ></div>

            <!-- stats -->
            <p class="text-[10px]">13.3k</p>
            <div class="w-0.5 h-0.5 bg-[#808080] rounded-full"></div>
            <p class="text-[10px] text-[#808080]">Shares</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
