<div class="bg-white p-9 lg:px-9 lg:w-5/6 w-6/6 px-0 mx-auto">
    <div class="py-6 sm:mx-6 my-0 mx-4">
        <p class="text-3xl lg:w-10/12 w-11/12">Help Us Beg Atiku To Allow Southern Presidency In 2023, Afegbua Tells Nigerians </p>
        <div class="flex w-40 justify-between my-6 mb-2 mx-1">
            <div class="w-16 h-16 rounded-full bg-green-700"></div>
            <div class="my-2">
                <p class="text-base">@eni4sure</p>
                <p class="text-xs text-gray-500">3:48AM</p>
            </div>
        </div>
    </div>

    <div class="border-2 border-gray-300 rounded-lg sm:mx-6 p-4 my-0 lg:w-10/12 w-11/12 p-1 mx-4">
        <p class="text-md my-2 w-12/12 mx-5">A chieftain of the Peoples Democratic Party (PDP), Prince Kassim Afegbua has urged Nigerians to appeal to former Vice-President Atiku Abubakar to drop his presidential ambition in 2023 and work for zoning of the ticket to the South.
        </p>
        <p class="my-4 w-12/12 mx-5">The former Commissioner for Information in Edo said ” Ceding the ticket to the North will mark the beginning of another round of political contestation and crisis. True. We cannot afford that luxury now. We need to call a spade, by its very name.
            It is better avoided than allow selfish political interest to detail the flow of discourse in terms of our political stability”.
        </p>
        <p class="my-4 w-12/12 mx-5 mb-12">The former Commissioner for Information in Edo said ” Ceding the ticket to the North will mark the beginning of another round of political contestation and crisis. True. We cannot afford that luxury now. We need to call a spade, by its very name.
            It is better avoided than allow selfish political interest to detail the flow of discourse in terms of our political stability”.
        </p>
        <div class="flex justify-between mx-5 flex-col gap-y-4 sm:flex-row">
            <div class="w-1/2">
                <img src="../../assets/Images/Rectangle 19.png">
            </div>
            <div>
                <img src="../../assets/Images/Rectangle 20.png">
            </div>
        </div>
        <div class="bg-gray-200 px-2 py-2 w-10/12 my-6 mx-5 rounded-lg">
            <p class="text-xs">https://independent.ng /help-us-beg-atiku-to-allow-southern-presidency-in-2023-afegbua-tells-nigeirans
            </p>
        </div>
        <div class="flex justify-between border-2 border-gray-300 rounded-lg px-5 py-3 w-12/12 mx-5 flex-col sm:flex-row">
            <div class="flex flex-row items-center w-fit">
                <button class="flex bg-gray-100 items-center justify-center w-8 h-8 rounded-full text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg
                  width="13"
                  height="14"
                  viewBox="0 0 13 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.66236 12.7038L2.9506 13.0676C2.64794 13.1319 2.33212 13.0734 2.07262 12.9049C1.81312 12.7364 1.63119 12.4716 1.56686 12.169L0.717889 8.17488C0.653557 7.87223 0.71209 7.55641 0.880612 7.29691C1.04913 7.03741 1.31384 6.85548 1.6165 6.79115L3.32826 6.4273M7.07979 4.43716L6.59467 2.15481C6.49817 1.70083 6.22528 1.30377 5.83603 1.05099C5.44678 0.798203 4.97305 0.710403 4.51906 0.806901L3.32826 6.4273L4.66236 12.7038L11.0986 11.3357C11.3744 11.2803 11.621 11.1271 11.7928 10.9043C11.9646 10.6814 12.0501 10.404 12.0336 10.1231L11.7294 4.82049C11.7195 4.65166 11.673 4.487 11.5931 4.33794C11.5132 4.18888 11.4018 4.05896 11.2668 3.9572C11.1317 3.85544 10.9761 3.78427 10.8108 3.74861C10.6454 3.71296 10.4743 3.71367 10.3093 3.7507L7.07979 4.43716Z"
                    stroke="black"
                    stroke-width="0.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
                <span class="pl-2 text-sm">433.3k</span>
                <span class="text-primary md:pl-1 text-green-600">&bull; </span>
                <span class="pl-1 text-sm text-slate-500">Likes</span>
            </div>
            <div class="flex flex-row  items-center w-fit">
                <button class="flex bg-gray-100 items-center justify-center w-8 h-8 rounded-full text-slate-300 border border-slate-200" type="button" aria-label="Comment">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.25 7.75C11.25 8.05942 11.1271 8.35616 10.9083 8.57496C10.6895 8.79375 10.3928 8.91667 10.0833 8.91667H3.08333L0.75 11.25V1.91667C0.75 1.60725 0.872916 1.3105 1.09171 1.09171C1.3105 0.872916 1.60725 0.75 1.91667 0.75H10.0833C10.3928 0.75 10.6895 0.872916 10.9083 1.09171C11.1271 1.3105 11.25 1.60725 11.25 1.91667V7.75Z"
                    stroke="black"
                    stroke-width="0.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
                <span class="pl-2 text-sm">1280</span>
                <span class="text-primary md:pl-1 text-green-600">&bull; </span>
                <span class="pl-1 text-sm text-slate-500">Comments</span>
            </div>
            <div class="flex flex-row  items-center w-fit">
                <button class="flex bg-gray-100 items-center justify-center w-8 h-8 rounded-full text-slate-300 border border-slate-200" type="button" aria-label="Share">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.3335 7V11.6667C2.3335 11.9761 2.45641 12.2728 2.6752 12.4916C2.894 12.7104 3.19074 12.8333 3.50016 12.8333H10.5002C10.8096 12.8333 11.1063 12.7104 11.3251 12.4916C11.5439 12.2728 11.6668 11.9761 11.6668 11.6667V7"
                    stroke="black"
                    stroke-width="0.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.33317 3.50033L6.99984 1.16699L4.6665 3.50033"
                    stroke="black"
                    stroke-width="0.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 1.16699V8.75033"
                    stroke="black"
                    stroke-width="0.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
                <span class="pl-2 text-sm">13.3k</span>
                <span class="text-primary md:pl-1 text-green-600">&bull;</span>
                <span class="pl-1 text-sm text-slate-500">Shares</span>
            </div>
            <div class="flex flex-row items-center w-fit">
                <button class="flex bg-gray-100 items-center justify-center w-8 h-8 rounded-full text-slate-300 border border-slate-200" type="button" aria-label="Views">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.583496 6.99967C0.583496 6.99967 2.91683 2.33301 7.00016 2.33301C11.0835 2.33301 13.4168 6.99967 13.4168 6.99967C13.4168 6.99967 11.0835 11.6663 7.00016 11.6663C2.91683 11.6663 0.583496 6.99967 0.583496 6.99967Z"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
                <span class="pl-2 text-sm">13.3k</span>
                <span class="text-primary md:pl-1 text-green-600">&bull;</span>
                <span class="pl-1 text-sm text-slate-500">Views</span>
            </div>
        </div>
    </div>

</div>