<!DOCTYPE html>
<html lang="en">
<body>
  <div class="h-[246px] w-[689px] mt-10 mx-auto">
    <div class="flex relative mb-[16px]">
      <p class="text-[#3A7139] block">Write your Discussion....</p>
      <button class="bg-[#D2F9ED] rounded-full w-[28px] h-[28px] flex justify-center items-center absolute right-[0px]">
        <img src="../../assets/icons/x.svg" alt="" class="h-[15px] w-[15px]">
      </button>
    </div>
    <div class="h-full w-full border-[#A8ABBD] border rounded-[8px]">
      <div class="mx-[16px] w-full my-[16px] flex flex-row">
        <div class="flex flex-row space-x-[12px]">
          <img src="../../assets/icons/bold.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/italic.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/underline.svg" alt="" class="w-[16px] h-[16px]">
        </div>
        <div class="flex flex-row space-x-[17px] ml-[28px]">
          <img src="../../assets/icons/align-left.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/align-center.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/align-left.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/align-justify.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/list.svg" alt="" class="w-[16px] h-[16px]">
        </div>
        <div class="flex flex-row space-x-[12px] ml-[28px]">
          <img src="../../assets/icons/link-2.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/link.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/minus.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/paperclip.svg" alt="" class="w-[16px] h-[16px]">
          <img src="../../assets/icons/twitch.svg" alt="" class="w-[16px] h-[16px]">
        </div>
      </div>
      <div class="mx-[16px]">
        <form action="">
          <textarea name="content" id="" class="resize-none outline-none w-full text-[#C2C4CF]" placeholder="put">Type your content here....</textarea>
        </form>
      </div>
    </div>
  </div>
</body>

</html>