<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body class="flex h-screen items-center justify-center">
    <section class="p-6 rounded-lg bg-white shadow max-w-[800px] mx-auto">
      <!-- profile picture == username == date & time -->
      <div class="flex items-center">
        <span class="block h-16 rounded-full w-16 bg-zinc-200"> </span>

        <span class="block ml-3">
          <h3 class="font-semibold capitalize text-xl">@Eniola</h3>
          <p class="text-zinc-400 flex items-center text-sm mt-1">
            <span>Today</span>
            <span class="mx-2 w-1 h-1 bg-zinc-400 rounded-full"></span>

            <span>3:48AM</span>
          </p>
        </span>

        <div
          class="ml-auto h-fit w-fit p-3 flex items-center bg-zinc-100 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right fill-green-600 w-6 h-6"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
      </div>

      <!-- title, category and read more -->
      <div class="mt-8">
        <h2 class="text-2xl mb-2 font-semibold">
          Help Us Beg Atiku to allow southern presidency in 2023, afegbua tells
          nigerians
        </h2>
        <div class="flex items-center font-medium">
          <span class="text-green-500">Security</span>
          <span class="mx-2 w-2 h-2 bg-green-600 rounded-full"></span>
          <span class="text-zinc-400">Read More</span>
        </div>
      </div>

      <!-- description -->
      <p class="mt-4 text-lg font-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
        aperiam harum ratione at, tempore commodi incidunt ipsa quas consectetur
        quis in molestias eos, velit temporibus non, rem eum est veniam?
      </p>

      <div></div>
    </section>
  </body>
</html>
