<div class="w-full relative">
    <!-- Line -->
    <div class="h-[0.45px] bg-[#CCC] w-full absolute top-0 bottom-0 my-auto -z-10"></div>

    <!-- Stepper Circles -->
    <div class="w-full flex justify-between items-center">
        <!-- Circle === Active -->
        <div class="-mx-4 h-10 w-10 flex justify-center items-center rounded-full bg-[#EDFDF8]">
            <div class="h-3 w-3 p-1.5 bg-primary rounded-full border-[5px] border-[#C9F8EA]"></div>
        </div>

        <!-- Circle === Normal -->
        <div class="h-3 w-3 bg-white rounded-full border border-primary"></div>

        <!-- Circle === Normal -->
        <div class="h-3 w-3 bg-white rounded-full border border-primary"></div>

        <!-- Circle === Normal -->
        <div class="h-3 w-3 bg-white rounded-full border border-primary"></div>
    </div>
</div>