<!-- Forum side bar -->
<!-- Main container for all three sides -->
<main class="h-full w-full bg-gray-100 flex gap-8">
  <!-- First section -->
  <section
    class="bg-white w-2/4 lg:w-60 flex flex-col items-start pl-5 pr-4 ml-6 mt-4 h-full rounded-md pb-20"
  >
    <div class="flex gap-4">
      <!-- X icon -->
      <img
        class="inline-block lg:hidden w-6 pt-1"
        src="../assets/icons/x-icon.svg"
        alt="x icon"
      />
      <!-- h1 for large screen -->
      <h1
        class="hidden lg:inline-block font-primary font-bold text-lg text-primary py-2 pt-8"
      >
        Forums in Nairaland
      </h1>
      <!-- h1 for mobile screen -->
      <h1
        class="inline-block lg:hidden font-primary font-bold text-lg text-primary py-2 pt-4"
      >
        All Forums
      </h1>
    </div>

    <!-- Search input div -->
    <div>
      <label>
        <span
          class="hidden lg:inline-block absolute left-52 top-24 flex justify-self-end pl-3"
        >
          <svg
            width="14"
            height="15"
            viewBox="0 0 14 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.82592 0.333008C10.4059 0.333008 13.3179 3.24501 13.3179 6.82501C13.3179 8.51404 12.6697 10.0545 11.609 11.2107L13.6962 13.2935C13.8915 13.4888 13.8922 13.8048 13.6969 14.0001C13.5995 14.0988 13.4709 14.1475 13.3429 14.1475C13.2155 14.1475 13.0875 14.0988 12.9895 14.0015L10.8772 11.895C9.76597 12.7849 8.35704 13.3177 6.82592 13.3177C3.24592 13.3177 0.333252 10.405 0.333252 6.82501C0.333252 3.24501 3.24592 0.333008 6.82592 0.333008ZM6.82592 1.33301C3.79725 1.33301 1.33325 3.79634 1.33325 6.82501C1.33325 9.85367 3.79725 12.3177 6.82592 12.3177C9.85392 12.3177 12.3179 9.85367 12.3179 6.82501C12.3179 3.79634 9.85392 1.33301 6.82592 1.33301Z"
              fill="#149F75"
            />
          </svg>
        </span>
        <input
          class="hidden lg:inline-block border rounded-lg text-sm px-3 pr-10 py-2"
          type="text"
          name="search"
          placeholder="Search in Forums"
        />
      </label>
    </div>
    <!--First section - container for General links-->
    <div>
      <!--  General div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">General</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6 w-3/5">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
        <!-- Veritical line goes here -->
        <div class="hidden lg:inline-block absolute left-64 top-32">
          <img
            src="../assets/icons/vertical-green-line.svg"
            alt="Green vertical line for scrolling"
          />
        </div>
      </div>
      <!-- Politics -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/politics-icon.svg" alt="Politics icon" />
        <p>Politics</p>
      </div>
      <!-- Romance -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/love-heart-icon.svg" alt="Love heart icon" />
        <p>Romance</p>
      </div>
      <!-- Jobs -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/job-icon.svg" alt="Job icon" />
        <p>Jobs</p>
      </div>
      <!-- Business -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary bg-green-50 active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/business-icon.svg" alt="business icon" />
        <p>Business</p>
      </div>
      <!-- Investment -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/investment-icon.svg" alt="Investment icon" />
        <p>Investments</p>
      </div>
      <!-- Education -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/education-icon.svg" alt="Education icon" />
        <p>Education</p>
      </div>
      <!-- Health -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/health-icon.svg" alt="Health icon" />
        <p>Health</p>
      </div>
      <!-- Security and crimes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/security-icon.svg" alt="Security icon" />
        <p>Security and crimes</p>
      </div>
      <!-- Agriculture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/agriculture-icon.svg"
          alt="Agriculture icon"
        />
        <p>Agriculture</p>
      </div>
      <!-- Automobile -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/automobile-icon.svg" alt="Automobile icon" />
        <p>Automobiles</p>
      </div>
      <!-- Culture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/culture-icon.svg" alt="Culture icon" />
        <p>Culture</p>
      </div>
      <!-- Religion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/religion-icon.svg" alt="Religion icon" />
        <p>Religion</p>
      </div>
      <!-- Food -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/food-icon.svg" alt="Food icon" />
        <p>Food</p>
      </div>
      <!-- Pets -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/pets-icon.svg" alt="Pets icon" />
        <p>Pets</p>
      </div>
      <!-- Properties -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/properties-icon.svg" alt="Properties icon" />
        <p>Properties</p>
      </div>
      <!-- Travels and tours -->
      <div
        class="flex gap-2 justify-start cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/travels-icon.svg" alt="Travels icon" />
        <p>Travels and tours</p>
      </div>
    </div>
    <!-- Second section for entertainment -->
    <div class="hidden lg:inline-block">
      <!--  Entertainment div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">Entertainment</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
      </div>
      <!-- TV / Movies -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/tv-movies.svg" alt="TV icon" />
        <p>TV / Movies</p>
      </div>
      <!-- Jokes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/jokes-icon.svg" alt="Jokes icon" />
        <p>Jokes</p>
      </div>
      <!-- Celebrities -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/celebrities-icon.svg"
          alt="Celebrities icon"
        />
        <p>Celebrities</p>
      </div>
      <!-- Fashion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/fashion-icon.svg" alt="Fashion icon" />
        <p>Fashion</p>
      </div>
      <!-- Events -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/events-icon.svg" alt="Events icon" />
        <p>Events</p>
      </div>
      <!-- Sports -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/sports-icon.svg" alt="Sports icon" />
        <p>Sports</p>
      </div>
      <!-- Gaming -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/Gaming-icon.svg" alt="Gaming icon" />
        <p>Gaming</p>
      </div>
      <!-- Literature -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/literature-icon.svg" alt="Literature icon" />
        <p>Literature</p>
      </div>
    </div>
    <!-- Third section for tech -->
    <div class="hidden lg:inline-block">
      <!--  Technology div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">
          Science / Technology
        </p>
        <!-- Horizontal line goes here -->
        <div class="mt-6 w-2/6">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
      </div>
      <!-- Programming -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img
          src="../assets/icons/programming-icon.svg"
          alt="Programming icon"
        />
        <p>Programming</p>
      </div>
      <!-- Computers -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/computers-icon.svg" alt="Computers icon" />
        <p>Computers</p>
      </div>
      <!-- Mobile phones -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/mobile-phones.svg" alt="Mobile phones icon" />
        <p>Mobile phones</p>
      </div>
      <!-- Arts and graphics -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/arts-graphics-icon.svg"
          alt="Arts and graphics icon"
        />
        <p>Arts & graphics</p>
      </div>
      <!-- Web masters -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/webmasters-icon.svg" alt="Web masters icon" />
        <p>Web Masters</p>
      </div>
      <!-- Technology market -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/technology-market-icon.svg"
          alt="Technology market icon"
        />
        <p>Technology Market</p>
      </div>
    </div>
  </section>

  <!-- ============================================================================================================================================== -->
  <!-- Second section -->
  <section
    class="hidden lg:inline-block bg-white w-2/4 lg:w-60 flex flex-col items-start pl-5 pr-4 ml-2 mt-4 h-full rounded-md pb-20"
  >
    <h1 class="font-primary font-bold text-lg text-primary py-2 pt-8">
      Forums in Nairaland
    </h1>
    <!-- Search input div -->
    <div>
      <label>
        <input
          class="border rounded-lg text-sm px-3 pr-10 py-2"
          type="text"
          name="search"
          placeholder="Search in Forums"
        />
      </label>
    </div>
    <!--First container for General forum headings-->
    <div>
      <!--  General div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">General</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6 w-3/5">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
        <!-- Veritical line goes here -->
        <!-- <div class="justify-self-end">
        <img src="../assets/icons/vertical-green-line.svg" alt="Veritical green line">
      </div> -->
      </div>
      <!-- Politics -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/politics-icon.svg" alt="Politics icon" />
        <p>Politics</p>
      </div>
      <!-- Romance -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/love-heart-icon.svg" alt="Love heart icon" />
        <p>Romance</p>
      </div>
      <!-- Jobs -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/job-icon.svg" alt="Job icon" />
        <p>Jobs</p>
      </div>
      <!-- Business -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/business-icon.svg" alt="business icon" />
        <p>Business</p>
      </div>
      <!-- Investment -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/investment-icon.svg" alt="Investment icon" />
        <p>Investments</p>
      </div>
      <!-- Education -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/education-icon.svg" alt="Education icon" />
        <p>Education</p>
      </div>
      <!-- Health -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/health-icon.svg" alt="Health icon" />
        <p>Health</p>
      </div>
      <!-- Security and crimes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/security-icon.svg" alt="Security icon" />
        <p>Security and crimes</p>
      </div>
      <!-- Agriculture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/agriculture-icon.svg"
          alt="Agriculture icon"
        />
        <p>Agriculture</p>
      </div>
      <!-- Automobile -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/automobile-icon.svg" alt="Automobile icon" />
        <p>Automobiles</p>
      </div>
      <!-- Culture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/culture-icon.svg" alt="Culture icon" />
        <p>Culture</p>
      </div>
      <!-- Religion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/religion-icon.svg" alt="Religion icon" />
        <p>Religion</p>
      </div>
      <!-- Food -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/food-icon.svg" alt="Food icon" />
        <p>Food</p>
      </div>
      <!-- Pets -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/pets-icon.svg" alt="Pets icon" />
        <p>Pets</p>
      </div>
      <!-- Properties -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/properties-icon.svg" alt="Properties icon" />
        <p>Properties</p>
      </div>
      <!-- Travels and tours -->
      <div
        class="flex gap-2 justify-start cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/travels-icon.svg" alt="Travels icon" />
        <p>Travels and tours</p>
      </div>
    </div>
    <!-- Second section for entertainment -->
    <div>
      <!--  Entertainment div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">Entertainment</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
      </div>
      <!-- TV / Movies -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/tv-movies.svg" alt="TV icon" />
        <p>TV / Movies</p>
      </div>
      <!-- Jokes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/jokes-icon.svg" alt="Jokes icon" />
        <p>Jokes</p>
      </div>
      <!-- Celebrities -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/celebrities-icon.svg"
          alt="Celebrities icon"
        />
        <p>Celebrities</p>
      </div>
      <!-- Fashion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2 visible"
      >
        <img src="../assets/icons/fashion-icon.svg" alt="Fashion icon" />
        <p>Fashion</p>
      </div>
      <!-- Events -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/events-icon.svg" alt="Events icon" />
        <p>Events</p>
      </div>
      <!-- Sports -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/sports-icon.svg" alt="Sports icon" />
        <p>Sports</p>
      </div>
      <!-- Gaming -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/Gaming-icon.svg" alt="Gaming icon" />
        <p>Gaming</p>
      </div>
      <!-- Literature -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/literature-icon.svg" alt="Literature icon" />
        <p>Literature</p>
      </div>
    </div>
  </section>

  <!-- ============================================================================================================================================== -->
  <!-- Third section -->
  <section
    class="hidden lg:inline-block bg-white w-2/4 lg:w-60 flex flex-col items-start pl-5 pr-4 ml-2 mt-4 h-full rounded-md pb-20"
  >
    <h1 class="font-primary font-bold text-lg text-primary py-2 pt-8">
      Forums in Nairaland
    </h1>
    <!-- Search input div -->
    <div>
      <label>
        <input
          class="border rounded-lg text-sm px-3 pr-10 py-2"
          type="text"
          name="search"
          placeholder="Search in Forums"
        />
      </label>
    </div>
    <!--First section container for General-->
    <div>
      <!--  General div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">General</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6 w-3/5">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
        <!-- Veritical line goes here -->
        <!-- <div class="absolute left-120">
        <img src="../assets/icons/vertical-green-line.svg" alt="Veritical green line">
      </div> -->
      </div>
      <!-- Politics -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/politics-icon.svg" alt="Politics icon" />
        <p>Politics</p>
      </div>
      <!-- Romance -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/love-heart-icon.svg" alt="Love heart icon" />
        <p>Romance</p>
      </div>
      <!-- Jobs -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary bg-green-50 active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/job-icon.svg" alt="Job icon" />
        <p>Jobs</p>
      </div>
      <!-- Business -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/business-icon.svg" alt="business icon" />
        <p>Business</p>
      </div>
      <!-- Investment -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/investment-icon.svg" alt="Investment icon" />
        <p>Investments</p>
      </div>
      <!-- Education -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/education-icon.svg" alt="Education icon" />
        <p>Education</p>
      </div>
      <!-- Health -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/health-icon.svg" alt="Health icon" />
        <p>Health</p>
      </div>
      <!-- Security and crimes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/security-icon.svg" alt="Security icon" />
        <p>Security and crimes</p>
      </div>
      <!-- Agriculture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/agriculture-icon.svg"
          alt="Agriculture icon"
        />
        <p>Agriculture</p>
      </div>
      <!-- Automobile -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/automobile-icon.svg" alt="Automobile icon" />
        <p>Automobiles</p>
      </div>
      <!-- Culture -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/culture-icon.svg" alt="Culture icon" />
        <p>Culture</p>
      </div>
      <!-- Religion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/religion-icon.svg" alt="Religion icon" />
        <p>Religion</p>
      </div>
      <!-- Food -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/food-icon.svg" alt="Food icon" />
        <p>Food</p>
      </div>
      <!-- Pets -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/pets-icon.svg" alt="Pets icon" />
        <p>Pets</p>
      </div>
      <!-- Properties -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/properties-icon.svg" alt="Properties icon" />
        <p>Properties</p>
      </div>
      <!-- Travels and tours -->
      <div
        class="flex gap-2 justify-start cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/travels-icon.svg" alt="Travels icon" />
        <p>Travels and tours</p>
      </div>
    </div>
    <!-- Second section for entertainment -->
    <div>
      <!--  Entertainment div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">Entertainment</p>
        <!-- Horizontal line goes here -->
        <div class="mt-6">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
      </div>
      <!-- TV / Movies -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img src="../assets/icons/tv-movies.svg" alt="TV icon" />
        <p>TV / Movies</p>
      </div>
      <!-- Jokes -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/jokes-icon.svg" alt="Jokes icon" />
        <p>Jokes</p>
      </div>
      <!-- Celebrities -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/celebrities-icon.svg"
          alt="Celebrities icon"
        />
        <p>Celebrities</p>
      </div>
      <!-- Fashion -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/fashion-icon.svg" alt="Fashion icon" />
        <p>Fashion</p>
      </div>
      <!-- Events -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/events-icon.svg" alt="Events icon" />
        <p>Events</p>
      </div>
      <!-- Sports -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/sports-icon.svg" alt="Sports icon" />
        <p>Sports</p>
      </div>
      <!-- Gaming -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/Gaming-icon.svg" alt="Gaming icon" />
        <p>Gaming</p>
      </div>
      <!-- Literature -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/literature-icon.svg" alt="Literature icon" />
        <p>Literature</p>
      </div>
    </div>
    <!-- Third section for tech -->
    <div>
      <!--  Technology div heading-->
      <div class="flex">
        <p class="text-primary text-sm font-semibold pt-4">
          Science / Technology
        </p>
        <!-- Horizontal line goes here -->
        <div class="mt-6 w-2/6">
          <img src="../assets/icons/line.svg" alt="Horizontal line" />
        </div>
      </div>
      <!-- Programming -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 pr-2 py-2"
      >
        <img
          src="../assets/icons/programming-icon.svg"
          alt="Programming icon"
        />
        <p>Programming</p>
      </div>
      <!-- Computers -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/computers-icon.svg" alt="Computers icon" />
        <p>Computers</p>
      </div>
      <!-- Mobile phones -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/mobile-phones.svg" alt="Mobile phones icon" />
        <p>Mobile phones</p>
      </div>
      <!-- Arts and graphics -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/arts-graphics-icon.svg"
          alt="Arts and graphics icon"
        />
        <p>Arts & graphics</p>
      </div>
      <!-- Web masters -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img src="../assets/icons/webmasters-icon.svg" alt="Web masters icon" />
        <p>Web Masters</p>
      </div>
      <!-- Technology market -->
      <div
        class="flex gap-2 cursor-pointer text-gray-500 hover:font-semibold hover:text-primary active:bg-green-50 hover:bg-green-50 rounded-md pl-1 py-2"
      >
        <img
          src="../assets/icons/technology-market-icon.svg"
          alt="Technology market icon"
        />
        <p>Technology Market</p>
      </div>
    </div>
  </section>
</main>
